ion-card {
    border-radius: 20px;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

img { 
    margin-left: 75%;
}

.qr {
    width: 84px;
    height: 84px;
}

p{
    margin-left: 10px;
}

.text {
    background-color: green;
    color: white;
    background-size: auto; 
    border-radius: 50px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
}

 .price {
     color: #395398;
     margin-bottom: 0;
     font-size: 22px;
 }
 
 .device-detail-popover{
    top: 10%!important;
    bottom: 0px!important;
}