ion-card {
    border-radius: 20px;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.img { 
    margin-left: 75%;
}

.qr {
    width: 84px;
    height: 84px;
}

p{
    margin-left: 10px;
}

.desk{
    padding: 5%;
}

.center{
    text-align: center;
}

.crd{
    height: 270px;
    margin: 30px;
    padding-top: 28%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: none !important;
    border: 1px solid #EBEBEB;
}

.alart{
    width: 35px;
    height: 35px;
    padding: 3%;
    background-color: red;
}

.t2 {
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    color: rgba(116, 116, 116, 1);
}

.img2{
    height: 70px;
    width: 70px;
}

.text {
    background-color: green;
    color: white;
    background-size: auto; 
    border-radius: 50px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
}

 .price {
     color: #395398;
     margin-bottom: 0;
     font-size: 22px;
 }
 
 .device-detail-popover{
    top: 10%!important;
    bottom: 0px!important;
}