<ion-content>
  <h2>QRku<img (click)="openMyModal($event)" class="img" src="../../../../assets/images/Vector.png" alt=""></h2>
  
  <div class="desk" *ngIf = "qrKulkas == '' && qrLaptop == '' && qrMesinCuci == '' && qrPS == '' && qrTV == ''"> 
    <div class="center">
      <div class="crd">
        <img src="../../../../assets/icon/zfx.png" alt="">
      </div>
      <br>
      <p class="t2">QR Code kamu akan muncul setelah proses tukar tambah kamu berhasil disetujui</p>
    </div>
  </div>
  
  <ion-card *ngFor="let item of qrLaptop">
    <div *ngFor="let vou of vouchers">
      <ion-list (click)="openMyModalQR(vou.voucher_key, item.id)" *ngIf = "item.status == 4 && item.jenis_layanan == 2 && item.voucher_id == vou.id">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="8" style="margin-left: 7px;">Laptop <p class="text">Active</p>
                <ion-row style="margin-top: 20px;">
                  <h3 class="price">Rp.{{item.price | number}}</h3>
                </ion-row>
                <ion-row>
                  <h3 *ngIf = "item.voucher_id == vou.id ">{{vou.voucher_key}}</h3>
                </ion-row>
              </ion-col>
              <ion-col size="3">
                <ngx-qrcode 
                [width]=200
                [margin]=0
                value = "{{item.id}}">
                </ngx-qrcode>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>

    <div lines="none" *ngFor="let loc of stores">
      <ion-item *ngIf = "item.lokasi_trade == loc.id ">
        <ion-grid>
          <ion-row>
            <ion-col size="7" style="margin-left: 7px;">
              <ion-label text-wrap>
                <p style="margin-left: 0; margin-bottom: 0;">{{loc.name}}</p>
                <h3 (click)="navigate(loc.address)" style="color: blue;">Open Map<img style="margin-left: 0;" src="./assets/images/ico_external_link_minor.png" />
                </h3>
              </ion-label>
            </ion-col>
            <ion-col size="3">
              <img style="height: 48px; width: 48px; float:right;" class="qr" src="../../../../assets/images/maps.png" alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>

</ion-card>

  <ion-card *ngFor="let item of qrTV">
      <div *ngFor="let vou of vouchers">
        <ion-list (click)="openMyModalQR(vou.voucher_key, item.id)" *ngIf = "item.status == 4 && item.jenis_layanan == 3 && item.voucher_id == vou.id">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="8" style="margin-left: 7px;">Televisi <p class="text">Active</p>
                  <ion-row style="margin-top: 20px;">
                    <h3 class="price">Rp.{{item.price | number}}</h3>
                  </ion-row>
                  <ion-row>
                    <h3 *ngIf = "item.voucher_id == vou.id ">{{vou.voucher_key}}</h3>
                  </ion-row>
                </ion-col>
                <ion-col size="3">
                  <ngx-qrcode 
                  [width]=200
                  [margin]=0
                  value = "{{item.id}}">
                  </ngx-qrcode>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>

      <div lines="none" *ngFor="let loc of stores">
        <ion-item *ngIf = "item.lokasi_trade == loc.id ">
          <ion-grid>
            <ion-row>
              <ion-col size="7" style="margin-left: 7px;">
                <ion-label text-wrap>
                  <p style="margin-left: 0; margin-bottom: 0;">{{loc.name}}</p>
                  <h3 (click)="navigate(loc.address)" style="color: blue;">Open Map<img style="margin-left: 0;" src="./assets/images/ico_external_link_minor.png" />
                  </h3>
                </ion-label>
              </ion-col>
              <ion-col size="4">
                <img style="height: 48px; width: 48px; float:right;" class="qr" src="../../../../assets/images/maps.png" alt="">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>

  </ion-card>

  <ion-card *ngFor="let item of qrPS">
    <div *ngFor="let vou of vouchers">
      <ion-list (click)="openMyModalQR(vou.voucher_key, item.id)" *ngIf = "item.status == 4 && item.jenis_layanan == 4 && item.voucher_id == vou.id">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="8" style="margin-left: 7px;">PlayStation <p class="text">Active</p>
                <ion-row style="margin-top: 20px;">
                  <h3 class="price">Rp.{{item.price | number}}</h3>
                </ion-row>
                <ion-row>
                  <h3 *ngIf = "item.voucher_id == vou.id ">{{vou.voucher_key}}</h3>
                </ion-row>
              </ion-col>
              <ion-col size="3">
                <ngx-qrcode 
                [width]=200
                [margin]=0
                value = "{{item.id}}">
                </ngx-qrcode>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>

    <div lines="none" *ngFor="let loc of stores">
      <ion-item *ngIf = "item.lokasi_trade == loc.id ">
        <ion-grid>
          <ion-row>
            <ion-col size="7" style="margin-left: 7px;">
              <ion-label text-wrap>
                <p style="margin-left: 0; margin-bottom: 0;">{{loc.name}}</p>
                <h3 (click)="navigate(loc.address)" style="color: blue;">Open Map<img style="margin-left: 0;" src="./assets/images/ico_external_link_minor.png" />
                </h3>
              </ion-label>
            </ion-col>
            <ion-col size="3">
              <img style="height: 48px; width: 48px; float:right;" class="qr" src="../../../../assets/images/maps.png" alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>

</ion-card>

<ion-card *ngFor="let item of qrKulkas">
  <div *ngFor="let vou of vouchers">
    <ion-list (click)="openMyModalQR(vou.voucher_key, item.id)" *ngIf = "item.status == 4 && item.jenis_layanan == 5 && item.voucher_id == vou.id">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="8" style="margin-left: 7px;">Kulkas <p class="text">Active</p>
              <ion-row style="margin-top: 20px;">
                <h3 class="price">Rp.{{item.price | number}}</h3>
              </ion-row>
              <ion-row>
                <h3 *ngIf = "item.voucher_id == vou.id ">{{vou.voucher_key}}</h3>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ngx-qrcode 
              [width]=200
              [margin]=0
              value = "{{item.id}}">
              </ngx-qrcode>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

  <div lines="none" *ngFor="let loc of stores">
    <ion-item *ngIf = "item.lokasi_trade == loc.id ">
      <ion-grid>
        <ion-row>
          <ion-col size="7" style="margin-left: 7px;">
            <ion-label text-wrap>
              <p style="margin-left: 0; margin-bottom: 0;">{{loc.name}}</p>
              <h3 (click)="navigate(loc.address)" style="color: blue;">Open Map<img style="margin-left: 0;" src="./assets/images/ico_external_link_minor.png" />
              </h3>
            </ion-label>
          </ion-col>
          <ion-col size="3">
            <img style="height: 48px; width: 48px; float:right;" class="qr" src="../../../../assets/images/maps.png" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

</ion-card>

<ion-card *ngFor="let item of qrMesinCuci">
  <div *ngFor="let vou of vouchers">
    <ion-list (click)="openMyModalQR(vou.voucher_key, item.id)" *ngIf = "item.status == 4 && item.jenis_layanan == 6 && item.voucher_id == vou.id">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="8" style="margin-left: 7px;">Mesin Cuci <p class="text">Active</p>
              <ion-row style="margin-top: 20px;">
                <h3 class="price">Rp.{{item.price | number}}</h3>
              </ion-row>
              <ion-row>
                <h3 *ngIf = "item.voucher_id == vou.id ">{{vou.voucher_key}}</h3>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ngx-qrcode 
              [width]=200
              [margin]=0
              value = "{{item.id}}">
              </ngx-qrcode>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

  <div lines="none" *ngFor="let loc of stores">
    <ion-item *ngIf = "item.lokasi_trade == loc.id ">
      <ion-grid>
        <ion-row>
          <ion-col size="7" style="margin-left: 7px;">
            <ion-label text-wrap>
              <p style="margin-left: 0; margin-bottom: 0;">{{loc.name}}</p>
              <h3 (click)="navigate(loc.address)" style="color: blue;">Open Map<img style="margin-left: 0;" src="./assets/images/ico_external_link_minor.png" />
              </h3>
            </ion-label>
          </ion-col>
          <ion-col size="3">
            <img style="height: 48px; width: 48px; float:right;" class="qr" src="../../../../assets/images/maps.png" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

</ion-card>
  
</ion-content>