.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &.top {
    top:  0px;
    transform: translateY(-30px);
  }

  &.bottom {
  bottom: 0px;
  }
}

ion-content{
  --background: linear-gradient(to left, #DBECFF 30%, #fff 70%);
  
}

.main-menu{
  background-color: #fff;
  display: flex;
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: max-content;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.content {
  padding: 20px;
}

.labelSelect{
  font-family: Plus Jakarta Sans Extra;
  font-weight: 600;
  font-size: 14px;
}

.card-backgroud{
  position: relative;
  text-align: right;
  top: 2%;
  bottom: -10%;

  .img_kanan{
    position: absolute;
    top: 25%;
    left: 78%;
    height: 200%;
  }

  .img_kiri{
    position: absolute;
    top: 7%;
    left: 5%;
    height: 200%;
  }
  
  .title{
    position: absolute;
    top: 40%;
    left: 5%;
    font-family: Plus Jakarta Sans Extra;
    font-weight: 800;
    font-size: 30px;
    color: black;
  }

  .subtitle{
    position: absolute;
    top: 60%;
    left: 5%;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    color: black;
  }
}

.t1{
  font-family: Plus Jakarta Sans Extra;
  font-weight: 500;
  font-size: 20px;
  color: black;
  text-align: left;
}
.t2{
  margin-top: 5%;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 17px;
  color: black;
  text-align: left;
}

.itemBorder{
  border: rgba(235, 235, 235, 1) solid 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px; 
  border-bottom-right-radius: 8px;
}

ion-select{
  max-width: 100%;
  text-align: left !important;
  --placeholder-color: black;
  --placeholder-opacity: 1;
}

ion-select::part(icon){
  margin-right: 3%;
  color: black;
  opacity: 1;
}

.selected{
  background: rgba(234, 245, 255, 1);
  border: 1px solid rgba(4, 95, 196, 1);
}

.ps-varian-select{
  margin-left: 0;
  margin-top: 3%;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
  text-align: center;
  font-family: Plus Jakarta Sans;
  color: black;
  font-size: 17px;
}

.ps-model-select{
  margin-left: 0;
  margin-top: 0;
  padding-top: 9%;
  width: 100%;
  height: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 7px;
  text-align: center;
  font-family: Plus Jakarta Sans;
  color: black;
  font-size: 17px;
}

.ps-storage-select{
  margin-left: 0;
  margin-top: 0;
  padding-top: 10%;
  width: 100%;
  height: 110%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 7px;
  text-align: center;
  font-family: Plus Jakarta Sans;
  color: black;
  font-size: 17px;
}

.toggle{
  margin-left: 0;
  margin-top: 5%;
}

.toggle2{
  margin-left: 0;
  margin-top: 0;
}

ion-item::part(native){
  --padding-start: 0 !important; 
  --inner-padding-end: 0 !important;
}

.ps-stick-select{
  margin-left: 0;
  margin-top: 0;
  padding-top: 11%;
  width: 100%;
  height: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 7px;
  text-align: center;
  font-family: Plus Jakarta Sans;
  color: black;
  font-size: 17px;
}

hr {
  border-bottom: 2px solid #EBEBEB;
}

hr:after {
  content: '';
  display: block;
  border-bottom: 2px solid #EBEBEB;
  margin-bottom: -2px; 
  max-width: 50%;
}

.radio.head{
  margin-left: 0;
  margin-top: 5%;
}

.radio{
  margin-left: 0;
}

.btn{
  width: 100%;
  height: 5%;
  color: white;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  border-radius: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
}
