<ion-content>
  <div class="header">
    <div class="card-backgroud">
      <img src="../../../../assets/images/header/ps.png" alt="">
      <div class="img_kanan">
        <img src="../../../../assets/images/baru/form-psxhdpi.png" alt="">
      </div>
      <div class="img_kiri" routerLink="/landing/type">
        <div class="icon">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
      </div> 
      <div class="title">
        Trade Playstation
      </div>
      <div class="subtitle">
        Silahkan isi data dibawah ini
      </div>
    </div>

    <ion-card class="main-menu">
      <div class="content">
        <div class="itemBorder">
          <ion-select [interfaceOptions]="customPopoverOptions" placeholder="Pilih tempat melakukan Trade In" okText="Okay" cancelText="Dismiss" (ionChange)="this.lokasi_trade = $event.target.value">
            <ion-select-option *ngFor="let item of stores" value="{{item.id}}">{{item.name}}</ion-select-option>
          </ion-select>
        </div>
        <div class="t1" style="margin-top: 30px;">
          Pilih varian
        </div>

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="PS5" class="ps-varian-select" (click)="selectVarian('PS5')">
                <img src="../../../../assets/images/baru/ps5xxhdpi.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">PS5</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="PS4" class="ps-varian-select" (click)="selectVarian('PS4')">
                <img src="../../../../assets/images/baru/ps3xxhdpi.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">PS4</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4" offset-md="3">
              <ion-card id="PS3" class="ps-varian-select" (click)="selectVarian('PS3')">
                <img src="../../../../assets/images/baru/ps4xxhdpi.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">PS3</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="t2" style="margin-top: 14px">
          Model
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="6">
              <ion-card id="Digital" class="ps-model-select" (click)="selectModel('Digital')">
                <ion-label>Digital</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="6">
              <ion-card id="Disc" class="ps-model-select" (click)="selectModel('Disc')">
                <ion-label>Disc</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="t2" style="margin-top: 14px">
          Storage
        </div>

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="3">
              <ion-card id="120GB" class="ps-storage-select" (click)="selectStorage('120GB')">
                <ion-label style="margin-bottom: 15%;">120GB</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card id="160GB" class="ps-storage-select" (click)="selectStorage('160GB')">
                <ion-label style="margin-bottom: 15%;">160GB</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3" offset-md="3">
              <ion-card id="250GB" class="ps-storage-select" (click)="selectStorage('250GB')">
                <ion-label style="margin-bottom: 15%;">250GB</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="3">
              <ion-card id="320GB" class="ps-storage-select" (click)="selectStorage('320GB')">
                <ion-label style="margin-bottom: 15%;">320GB</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card id="500GB" class="ps-storage-select" (click)="selectStorage('500GB')">
                <ion-label style="margin-bottom: 15%;">500GB</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3" offset-md="3">
              <ion-card id="1TB" class="ps-storage-select" (click)="selectStorage('1TB')">
                <ion-label style="margin-bottom: 15%;">1TB</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item class="toggle" lines="none">
          <ion-label class="t2">Kondisi Playstation</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiPlaystation" (ionChange)="toggleKondisiPS()"></ion-toggle>
        </ion-item>

        <div class="t2" style="margin-top: 14px">
          Kondisi Stick/Console PS
        </div>

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="3">
              <ion-card id="Mulus" class="ps-stick-select" (click)="selectStick('Mulus')">
                <ion-label style="margin-bottom: 15%;">Mulus</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card id="Lecet" class="ps-stick-select" (click)="selectStick('Lecet')">
                <ion-label style="margin-bottom: 15%;">Lecet</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3" offset-md="3">
              <ion-card id="Dent" class="ps-stick-select" (click)="selectStick('Dent')">
                <ion-label style="margin-bottom: 15%;">Dent</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
                  
        <ion-item class="toggle" lines="none">
          <ion-label class="t2">Ada Add On Games</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="addOnGame" (ionChange)="toggleAddGame()"></ion-toggle>
        </ion-item>
        <hr>

        <div class="t1" style="margin-top: 25px;">
          Fungsi Console PS
        </div>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Kondisi Stick/Console PS Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="stickNormal" (ionChange)="toggleStick()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Port USB Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="usbNormal" (ionChange)="togglePort()"></ion-toggle>
        </ion-item>
        <hr>

        <div class="t1" style="margin-top: 25px;">
          Kelengkapan
        </div>
        
        <ion-radio-group style="margin-top: 14px" (ionChange)="radioSelectKelengkapan($event)">
          <ion-item class="radio head" lines="none">
            <ion-label class="t2">Fullset (Stick,kabel power,HDMI)</ion-label>
            <ion-radio slot="end" color="primary" value="Fullset (Stick,kabel power,HDMI)"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">Stick 1pcs + Kabel power+ HDMI</ion-label>
            <ion-radio slot="end" color="primary" value="Stick 1pcs + Kabel power+ HDMI"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">Unit Only + Kabel Power (Tanpa Stick)</ion-label>
            <ion-radio slot="end" color="primary" value="Unit Only + Kabel Power (Tanpa Stick)"></ion-radio>
          </ion-item>
        </ion-radio-group>
        
        <div class="btn">
          <ion-button style="width: 100%;" shape="round" (click)="submit($event)">Submit</ion-button>
        </div>

      </div>
    </ion-card>
  </div>
    
</ion-content>
