<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start" style="color: white">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white">Device Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="middle-page">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h3 class="text-align-center" style="text-align: center;"> Device Details</h3>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Type:</ion-label>
          <ion-input value="{{ type }}" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Android Version:</ion-label>
          <ion-input value="{{ version }}" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Manufacturer:</ion-label>
          <ion-input value="{{ manufacturer }}" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Model:</ion-label>
          <ion-input value="{{ model }}" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">RAM:</ion-label>
          <ion-input value="{{ ram }}" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Storage:</ion-label>
          <ion-input value="{{ storage }}" readonly></ion-input>
        </ion-item>
        <div class="ion-padding">
          <ion-button expand="block" (click)="submit()" class="ion-margin">Uji Layar
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
