<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Pengajuan Perbaikan</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen>
    <div class="vl" style="font-family: 'Arial' !important; margin-left: 10px;">
      <h2>Isi Informasi Pengajuan Perbaikan</h2>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>My Voucher Key</ion-card-subtitle>
        <ion-card-title>{{ user.data?.voucher_key }}</ion-card-title>    
      </ion-card-header>
      <ion-card-content>
        <img src="" />
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label position="floating">IMEI</ion-label>
        <ion-input type="number" [(ngModel)]="imei" [readonly]="isReadonly()" (keyup.enter)="utilsService.hideKeyboard()" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">No. Telepon Alternatif</ion-label>
        <ion-input name="contact_alternatif"  [(ngModel)]="contact_alternatif" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tanggal Kerusakan</ion-label>
        <ion-input name="tanggal_kerusakan" type="date"  [(ngModel)]="tanggal_kerusakan" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Waktu Kerusakan</ion-label>
        <ion-input name="waktu_kerusakan" type="time" [(ngModel)]="waktu_kerusakan" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Provinsi</ion-label>
        <ion-input name="provinsi" [(ngModel)]="provinsi" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Kota</ion-label>
        <ion-input name="kota" [(ngModel)]="kota" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Alamat Antar/Penjemputan</ion-label>
        <ion-input name="alamat_penjemputan" [(ngModel)]="alamat_penjemputan"  (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
      </ion-item>
      <ion-item line="none">
        <ion-label position="floating">Kode Pos</ion-label>
        <ion-input type="text" name="kode_pos" [(ngModel)]="kode_pos" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
      </ion-item>
      <ion-item line="none">
        <ion-label position="floating">Jenis Layanan Perbaikan</ion-label>
        <ion-select name="layanan_perbaikan" [(ngModel)]="layanan_perbaikan">
          <ion-select-option value="Pickup Service">Pickup Service</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item line="none">
        <ion-label position="floating">Kronologis Kerusakan</ion-label>
        <ion-textarea type="text" name="kronologis" [(ngModel)]="kronologis" (keyup.enter)="utilsService.hideKeyboard()" ></ion-textarea>
      </ion-item>

      <div class="ion-padding">
        <ion-button expand="block" (click)="submit()"  class="ion-margin">Ajukan Perbaikan
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card>

  </ion-content>
  