<ion-content>
  <div class="widht">
    <div class="right">
      <ion-icon class="icon" name="close" (click)="dismissModal()"></ion-icon>
    </div>
  </div>
  <div class="desk">
    <div class="center">
      <img class="img" src="../../../../assets/icon/lovexxhdpi.png" alt="">
      <!-- <ion-icon class="alart" name="alert"></ion-icon> -->
      <br>
      <ion-label class="t1">Enjoying the app?</ion-label>
      <br>
      <p class="t2">How was your experience with Zfix? Let us know what you think</p>
      <div class="btn">
        <ion-button style="width: 100%; height: 45px;" shape="round" (click)="submit()">Kirim Feedback</ion-button>
      </div>
    </div>
  </div>
</ion-content>
