<ion-header [translucent]="true" mode="md">

  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">
      My Plans
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment mode="md" [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="0">
        Activated
      </ion-segment-button>

      <ion-segment-button value="1">
        Expired
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ion-header>

  <ion-content>
   <ion-slides #slides pager="false" [options]="sliderOptions" (ionSlideDidChange)="slideShanged(slides)" (ionSlidesDidLoad)="slideShanged(slides)">
     <ion-slide>
      <ion-card *ngFor="let data of user.data?.process">
        <div *ngIf="(data.status == 1 || data.status == 0 )">
      <ion-card-header>
        <ion-card-title>Activated</ion-card-title>
      </ion-card-header>
    
      <ion-card-content >
        
          <ion-item>
            <ion-label position="floating">Imei:</ion-label>
            <ion-input value="{{ data.imei }}" readonly></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Type:</ion-label>
            <ion-input value="{{ data.device_type }}" readonly></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Manufacturer:</ion-label>
            <ion-input value="{{ data.device_manufacturer }}" readonly></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Model:</ion-label>
            <ion-input value="{{ data.device_model }}" readonly></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">RAM:</ion-label>
            <ion-input value="{{ data.device_ram }}" readonly></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Storage:</ion-label>
            <ion-input value="{{ data.device_storage }}" readonly></ion-input>
          </ion-item>
          
          <ion-item *ngIf="data.status == 1">
            <ion-label position="floating">Activated Date:</ion-label>
            <ion-input value="{{ data.actived_at }}" readonly></ion-input>
          </ion-item>

          <ion-item *ngIf="data.status == 1">
            <ion-label position="floating" >Expired Date:</ion-label>
            <ion-input value="{{ data.expired_at }}" readonly></ion-input>
          </ion-item>

          <ion-item *ngIf="data.status == 1">
            <ion-label position="stacked">Duration</ion-label>
            <ion-input id="countdown"></ion-input>          
          </ion-item>

          <ion-item *ngIf="data.status == 0">
            <ion-label position="stacked">Status</ion-label>
            <ion-input>Menunggu Verifikasi</ion-input>          
          </ion-item>
        
      </ion-card-content>
        </div>
      </ion-card>  
     </ion-slide>

     <ion-slide>
     <ion-card *ngFor="let data of user.data?.process">
      <div *ngIf="data.status == -2">
    <ion-card-header>
      <ion-card-title>Expired</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      
        <ion-item>
          <ion-label position="floating">Imei:</ion-label>
          <ion-input value="{{ data.imei }}" readonly></ion-input>
        </ion-item>
 
        <ion-item>
          <ion-label position="floating">Type:</ion-label>
          <ion-input value="{{ data.device_type }}" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Manufacturer:</ion-label>
          <ion-input value="{{ data.device_manufacturer }}" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Model:</ion-label>
          <ion-input value="{{ data.device_model }}" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">RAM:</ion-label>
          <ion-input value="{{ data.device_ram }}" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Storage:</ion-label>
          <ion-input value="{{ data.device_storage }}" readonly></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Expired Date:</ion-label>
          <ion-input value="{{ data.expired_at }}" readonly></ion-input>
        </ion-item>
      
    </ion-card-content>
    </div>
    </ion-card>  
     </ion-slide>
   </ion-slides>
  </ion-content>
    