ion-label{
  color: rgba(3, 82, 130, 1);
}

.content {
  padding: 20px;
}

h1 {
  margin-top: 20px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
}

.itemBorder{
  border: black solid 0.5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px; 
  border-bottom-right-radius: 8px;
}

ion-select{
  max-width: 100%;
  color: black;
  font-size: 14px;
  text-align: left !important;
  --placeholder-color: black;
  --placeholder-opacity: 1;
}

ion-select::part(icon){
  margin-right: 3%;
  color: black;
  opacity: 1;
}

.icon {
  background: rgba(235, 238, 245, 1);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  margin-top: 30px;
}

ion-icon {
  font-size: 25px;
  color: rgba(4, 95, 196, 1);
}

.border{
  border: black solid 0.5px;
  border-radius: 10px;
  margin-top: 5%;
}

ion-input{
  --placeholder-color: black;
  --placeholder-opacity: 1;
}

ion-textarea{
  --placeholder-color: black;
  --placeholder-opacity: 1;
}

.btn{
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.btn2{
  width: 100%;
  color: white;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  border-radius: 60%;
  margin-top: 6%;
}

.button-call {
  background-color: #dfedf6;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  // width: 20%;
  border-radius: 25px;
  padding: 15px 55px;
  
}

.button-whatsapp {
  background-color: #7FFFD4;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  // width: 20%;
  border-radius: 25px;
  padding: 15px 32px;
}