
<ion-content [fullscreen]="true" mode="md">
  
  <div class="content">
    <div class="icon" routerLink="/landing/setting">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    
    <h1>Hubungi Kami Melalui:</h1>
    <h2 style="color: blue;"><a href="tel:+62 877-0477-5575">Telphone: +62 877-0477-5575</a></h2>
    <h2><a href="https://api.whatsapp.com/send?phone=6287704775575" >Whatsapp: 087704775575</a></h2>
    <h2>Email, Dengan Mengisi Form Dibawah ini.</h2>
    <div class="itemBorder">
      <ion-select [interfaceOptions]="customPopoverOptions" placeholder="Apa masalah Anda" okText="Okay" cancelText="Dismiss" (ionChange)="this.option = $event.target.value">
        <ion-select-option value="Tidak Bisa Digunakan">Tidak Bisa Digunakan</ion-select-option>
        <ion-select-option value="Lapor Masalah">Lapor Masalah</ion-select-option>
      </ion-select>
    </div>
  
    <ion-item class="border">
      <ion-input type="text" [(ngModel)]="reason" placeholder="Alasan Anda"></ion-input>
    </ion-item>
  
    <ion-item class="border">
      <ion-textarea type="text" [(ngModel)]="description"  placeholder="Deskripsi" style="height: 200px;"></ion-textarea>
    </ion-item>
  
    <div class="btn">
      <ion-button class="btn2" shape="round" (click)="sendEmail()">Submit</ion-button>
    </div>
  </div>
  
</ion-content>
  