<ion-content>
  <div class="header">
    <div class="card-backgroud">
      <img src="../../../../assets/images/header/laptop.png" alt="">
      <div class="img_kanan">
        <img src="../../../../assets/images/baru/form-laptopxhdpi.png" alt="">
      </div>
      <div class="img_kiri" routerLink="/landing/type">
        <div class="icon">
          <ion-icon class="ic_back" name="arrow-back-outline"></ion-icon>
        </div>
      </div>
      <div class="title">
        Trade Laptop
      </div>
      <div class="subtitle">
        Silahkan isi data dibawah ini
      </div>
    </div>

    <ion-card class="main-menu">
      <div class="content">
        <div class="itemBorder">
          <ion-select [interfaceOptions]="customPopoverOptions" placeholder="Pilih tempat melakukan Trade In" okText="Okay" cancelText="Dismiss" (ionChange)="this.lokasi_trade = $event.target.value">
            <ion-select-option *ngFor="let item of stores" value="{{item.id}}">{{item.name}}</ion-select-option>
          </ion-select>
        </div>
        <div class="t1" style="margin-top: 30px;">
          Pilih Merk
        </div>

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="asus" class="laptop-merk-select" (click)="selectMerk('asus')">
                <img src="../../../../assets/sponsor/asus_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Asus</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="lenovo" class="laptop-merk-select" (click)="selectMerk('lenovo')">
                <img src="../../../../assets/sponsor/lenovo_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Lenovo</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="acer" class="laptop-merk-select" (click)="selectMerk('acer')">
                <img src="../../../../assets/sponsor/acer_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Acer</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="dell" class="laptop-merk-select" (click)="selectMerk('dell')">
                <img src="../../../../assets/sponsor/dell_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Dell</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="xiaomi" class="laptop-merk-select" (click)="selectMerk('xiaomi')">
                <img src="../../../../assets/sponsor/mi.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Xiaomi</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="hp" class="laptop-merk-select" (click)="selectMerk('hp')">
                <img src="../../../../assets/sponsor/hp_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">hp</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="show" style="margin-top: 14px">
          <a>Show more brand</a> <ion-icon class="ic_drop" name="caret-down-outline"></ion-icon>
        </div>
        <!-- <ion-button class="btn2">Show more brand</ion-button> -->

        <div class="t2" style="margin-top: 14px">
          Jenis Storage
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="6">
              <ion-card id="hdd" class="laptop-jenis-select" (click)="selectJenis('hdd')">
                <ion-label>HDD</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="6">
              <ion-card id="ssd" class="laptop-jenis-select" (click)="selectJenis('ssd')">
                <ion-label>SSD</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="t2" style="margin-top: 14px">
          RAM
        </div>

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="2" class="laptop-ram-select" (click)="selectRam('2')">
                <ion-label style="margin-bottom: 15%;">2 GB</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="4" class="laptop-ram-select" (click)="selectRam('4')">
                <ion-label style="margin-bottom: 15%;">4 GB</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="8" class="laptop-ram-select" (click)="selectRam('8')">
                <ion-label style="margin-bottom: 15%;">8 GB</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="16" class="laptop-ram-select" (click)="selectRam('16')">
                <ion-label style="margin-bottom: 15%;">16 GB</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="itemBorder2" style="margin-top: 14px">
          <ion-select [interfaceOptions]="customPopoverProcessor" placeholder="Pilih Processor" okText="Okay" cancelText="Dismiss" (ionChange) = "this.processor = $event.target.value">
            <ion-select-option *ngFor="let row_processor of data_processor" value="{{row_processor.processor}}">{{row_processor.processor}}</ion-select-option> 
          </ion-select>
        </div>

        <div class="t2" style="margin-top: 14px">
          Operating System
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="6">
              <ion-card id="mac" class="laptop-os-select" (click)="selectOs('mac')">
                <ion-label>MAC OS</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="6">
              <ion-card id="window" class="laptop-os-select" (click)="selectOs('window')">
                <ion-label>Windows</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <div class="t2" style="margin-top: 14px">
          Ukuran Laptop
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="6">
              <ion-card id="1012" class="laptop-ukuran-select" (click)="selectUkuran('1012')">
                <ion-label>10" - 12"</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="6">
              <ion-card id="1315" class="laptop-ukuran-select" (click)="selectUkuran('1315')">
                <ion-label>13" - 15"</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="t1" style="margin-top: 25px;">
          Kondisi Layar Laptop
        </div>

        <ion-radio-group (ionChange)="radioSelect($event)" style="margin-top: 14px">
          <ion-item class="radio head" lines="none">
            <ion-label class="t2">Normal</ion-label>
            <ion-radio slot="end" color="primary" value="Normal"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">Layar Bergaris</ion-label>
            <ion-radio slot="end" color="primary" value="Layar Bergaris"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">Whitespot/Titik Hitam</ion-label>
            <ion-radio slot="end" color="primary" value="Whitespot/Titik Hitam"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">LCD Pecah</ion-label>
            <ion-radio slot="end" color="primary" value="LCD Pecah"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <hr>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Kondisi Laptop Menyala</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiLaptop" (ionChange)="toggleKondisiLaptop()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Touchscreen</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiTouch" (ionChange)="toggleTouchscreen()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">LCD Layar Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiLcd" (ionChange)="toggleKondisiLayar()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Layar Luar Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiLayarLuar" (ionChange)="toggleKondisiLayarLuar()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Kondisi Keyboard Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiKeyboard" (ionChange)="toggleKeyboard()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Trackpad Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiTrackpad" (ionChange)="toggleTrackpad()"></ion-toggle>
        </ion-item>
        
        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Kondisi Port Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiPort" (ionChange)="togglePort()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Kondisi Bluetooth & Wifi Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiBluetooth" (ionChange)="toggleBluetooth()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Kondisi Speaker Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiSpeaker" (ionChange)="toggleSpeaker()"></ion-toggle>
        </ion-item>
        <hr>

        <div class="t2" style="margin-top: 14px">
          Kondisi Fisik
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="mulus" class="laptop-fisik-select" (click)="selectFisik('mulus')">
                <ion-label>Mulus</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="lecet" class="laptop-fisik-select" (click)="selectFisik('lecet')">
                <ion-label>Lecet</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="penyok" class="laptop-fisik-select" (click)="selectFisik('penyok')">
                <ion-label>Penyok</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="t2" style="margin-top: 14px">
          Kondisi Baterai
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="normal" class="laptop-baterai-select" (click)="selectBaterai('normal')">
                <ion-label>Normal</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="mati" class="laptop-baterai-select" (click)="selectBaterai('mati')">
                <ion-label>Mati</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="bocor" class="laptop-baterai-select" (click)="selectBaterai('bocor')">
                <ion-label>Bocor</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="t2" style="margin-top: 14px">
          Kelengkapan
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="fullset" class="laptop-kelengkapan-select" (click)="selectKelengkapan('fullset')">
                <ion-label>Fullset</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="unitcharge" class="laptop-kelengkapan-select" (click)="selectKelengkapan('unitcharge')">
                <ion-label>Unit Charger</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="unit" class="laptop-kelengkapan-select" (click)="selectKelengkapan('unit')">
                <ion-label>Unit Only</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="btn">
          <ion-button style="width: 100%;" shape="round" (click)="openModalSubmit($event)">Submit</ion-button>
        </div>

      </div>
    </ion-card>
  </div>
    
</ion-content>