img{
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}

h1 {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    color: black;
}

h3 {
    text-align: center;
    margin: 0 auto;
}

ion-input {
    text-align: center;
    margin: 0 auto;
    color: black;
}