<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Service Center ZFix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vl" style="font-family: 'Arial' !important; margin-left: 10px;">
      <h2>Service Center ZFix</h2>
  </div>
    <ion-text>
      <p>Kami telah memiliki service center yang tersebar luas di Indonesia.</p>
    </ion-text>

    <ol>
      <li>
        DKI Jakarta
      </li>
      <li>
        Tangerang Selatan
      </li>
      <li>
        Serang
      </li>
      <li>
        Jawa Barat
        <ol type="a">
          <li>
            Bandung
          </li>
          <li>
            Bekasi
          </li>
          <li>
            Bogor
          </li>
          <li>
            Cibinong
          </li>
          <li>
            Cikarang
          </li>
          <li>
            Cilegon
          </li>
          <li>
            Cirebon
          </li>
          <li>
            Depok
          </li>
          <li>
            Karawang
          </li>
          <li>
            Kuningan
          </li>
        </ol>
      </li>

      <li>
        Jawa Tengah
      <ol type="a">
        <li>
          Boyolali
        </li>
        <li>
          Cilacap
        </li>
        <li>
          Kebumen
        </li>
        <li>
          Magelang
        </li>
        <li>
          Purbalingga
        </li>
        <li>
          Solo
        </li>
        <li>
          Sragen
        </li>
      </ol>
      </li>

      <li>
        DI Yogyakarta
      </li>
      <li>
        Jawa Timur
        <ol type="a">
          <li>
            Kediri
          </li>
          <li>
            Lumajang
          </li>
          <li>
            Malang
          </li>
          <li>
            Pasuruan
          </li>
          <li>
            Tulungagung
          </li>
        </ol>
      </li>

      <li>
        Lampung
      </li>
      <li>
        Sumatera Barat
        <ol type="a">
          <li>
            Agam
          </li>
          <li>
            Bukit Tinggi
          </li>
          <li>
            Padang
          </li>
          <li>
            Payahkumbuh
          </li>
        </ol>
      </li>

      <li>
        Medan
      </li>
      <li>
        Samarinda
      </li>
      <li>
        Pekanbaru
      </li>
      <li>
        Batam
      </li>
    </ol>
    <br>
    <br>
</ion-content>

