.header {
  background-color: #395398;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &.top {
    top:  0px;
    transform: translateY(-30px);
  
    }
  
    &.bottom {
    bottom: 0px;
  
    }
    
}

.grid{
  width: 100%;
  height: 100%;
}

.cardgrid{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card-backgroud{
  position: relative;
  text-align: right;
  margin: 0 !important;
  padding: 0 !important;

  .img_kanan{
    position: absolute;
    top: 23%;
    left: 60%;
    width: max-content;
  }
}

.title{
  margin-top: 50px;
  margin-left: 20px;
  font-family: Plus Jakarta Sans;
  color: #fff; 
}

.main_title{
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  font-family: Plus Jakarta Sans Extra;
  line-height: 40px;
}

.subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.main-menu{
  display: flex;
  flex-direction: column;
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: max-content;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

ion-card-subtitle {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
  color: black;
  font-family: Plus Jakarta Sans Extra;
}

.garis{
  width: 86%;
  height: 12%;
  
  display: flex;
  justify-content: center;
  padding-top: 6%;
  padding-bottom: 6%;

  border: 3px dashed #EBEBEB;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  margin-left: 7%;
  margin-right: 7%;
}

.font{
  font-family: Plus Jakarta Sans Extra;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.center{
  display: flex;
  justify-content: center;

  margin-top: 30px;
}