.header {
  background-color: #395398;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &.top {
    top:  0px;
    transform: translateY(-30px);
  
    }
  
    &.bottom {
    bottom: 0px;
  
    }
    
}

.grid{
  width: 100%;
  height: 150%;
}

.img_right{
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
}

.text_left{
  position: absolute;
  top: 20%;
  left: 10%;
  height: 100%;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  font-family: Plus Jakarta Sans Extra;
  color: black;
}

.text_left2{
  position: absolute;
  top: 45%;
  left: 10%;
  height: 100%;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  font-family: Plus Jakarta Sans Extra;
  color: black;
}

.cardgrid{
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.color-ps{
  --background: linear-gradient(to left, #DBECFF 30%, #fff 70%);
}
.color-hp{
  --background: linear-gradient(to left, #E0DAEC 30%, #fff 70%);
}
.color-laptop{
  --background: linear-gradient(to left, #FBDAE8 30%, #fff 70%);
}
.color-tv{
  --background: linear-gradient(to left, #FEEDDD 30%, #fff 70%);
}
.color-kulkas{
  --background: linear-gradient(to left, #e1ffdb 30%, #fff 70%);
}
.color-cuci{
  --background: linear-gradient(to left, #e4f6fd 30%, #fff 70%);
}

.card-backgroud{
  position: relative;
  text-align: right;
  margin: 0 !important;
  padding: 0 !important;

  .img_kanan{
    position: absolute;
    top: 23%;
    left: 60%;
    width: max-content;
  }
}

.title{
  margin-top: 50px;
  margin-left: 20px;
  font-family: Plus Jakarta Sans;
  color: #fff; 
}

.main_title{
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  font-family: Plus Jakarta Sans Extra;
  line-height: 40px;
}

.subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.main-menu{
  display: flex;
  flex-direction: column;
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: max-content;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

ion-card-subtitle {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  color: black;
  font-family: Plus Jakarta Sans Extra;
}

.garis{
  width: 86%;
  height: 12%;
  
  display: flex;
  justify-content: center;
  padding-top: 6%;
  padding-bottom: 6%;

  border: 3px dashed #EBEBEB;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  margin-left: 7%;
  margin-right: 7%;
}

.font{
  font-family: Plus Jakarta Sans Extra;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.center{
  display: flex;
  justify-content: center;

  margin-top: 30px;
}

<<<<<<< HEAD
#notifications-badge {
  // color: red;
  background: red;
  position: absolute;
  top: 15px;
  right: -1px;
  border-radius: 200%;
=======
.row{
  margin-left: 0;
  margin-right: 0;
}
.col{
  padding-left: 0;
  padding-right: 0;
>>>>>>> e1124e0ccaa1e710e8bd72857b86b8926d0f402b
}