<ion-content>
  <div class="header">
    <ion-row>
      <div class="title">
        <p class="main_title">Selamat Pagi,</p>
        <p class="subtitle">Mau tukar tambah apa hari ini?</p>
      </div>
      <ion-col col-2>
        <div class="card-backgroud">
          <div class="img">
            <img src="../../../../assets/images/atas_kanan.png" alt="">
          </div>
          <div class="img_kanan" routerLink="/landing/notification">
            <img src="../../../../assets/icon/notification.png" alt="" ><ion-badge *ngIf = "count_notification != 0" id="notifications-badge" style=" font-size: 5px;">{{count_notification}}</ion-badge> 

          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-card class="main-menu">
      <ion-card-subtitle class="judul">Pilih Barang</ion-card-subtitle>

      <div class="middle">
        <ion-grid>
          <div class="row">
            <div class="col" col-6 (click)="goTo(4)">
              <ion-card class="cardgrid color-ps">
                <!-- <div class="size"> -->
                  <!-- <img class="grid" src="../../../../assets/images/header/ps.png" alt=""> -->
                  <div class="img_right">
                    <img src="../../../../assets/images/baru/psxxhdpi.png" alt="">
                  </div>
                  <div class="text_left">
                    Play
                  </div>
                  <br>
                  <div class="text_left2">
                    Station
                  </div>
                <!-- </div> -->
                <!-- <img class="grid" src="../../../../assets/images/home/ps/ps.png" alt=""> -->
                <!-- <ion-icon  class="icon-a" name="game-controller-outline"></ion-icon>
                <h2>Scan PlayStation</h2> -->
              </ion-card>
            </div>

            <div class="col" col-6 (click)="goTo(1)">
              <ion-card class="cardgrid color-hp">
                <div class="img_right">
                  <img src="../../../../assets/images/baru/hpxxhdpi.png" alt="">
                </div>
                <div class="text_left">
                  Smart
                </div>
                <br>
                <div class="text_left2">
                  Phone
                </div>
                <!-- <img class="grid" src="../../../../assets/images/home/mobile/hp.png" alt=""> -->
                <!-- <ion-icon class="icon-a" name="phone-portrait-outline"></ion-icon>
                <h2>Scan Handphone<br>/Tablet </h2>   -->
              </ion-card>
            </div>
          </div>

          <div class="row">
            <div class="col" col-6  (click)="goTo(3)">
              <ion-card class="cardgrid color-laptop">
                <div class="img_right">
                  <img src="../../../../assets/images/baru/laptopxxhdpi.png" alt="">
                </div>
                <div class="text_left">
                  Laptop
                </div>
                <!-- <img class="grid" src="../../../../assets/images/home/laptop/laptop.png" alt=""> -->
                <!-- <ion-icon  class="icon-a" name="laptop-outline"></ion-icon>
                <h2>Scan Laptop</h2> -->
              </ion-card>
            </div>
            <div class="col" col-6 (click)="goTo(2)">
              <ion-card class="cardgrid color-tv">
                <div class="img_right">
                  <img src="../../../../assets/images/baru/tvxxhdpi.png" alt="">
                </div>
                <div class="text_left">
                  TV
                </div>
                <!-- <img class="grid" src="../../../../assets/images/home/television/tv.png" alt=""> -->
                <!-- <ion-icon  class="icon-a" name="tv-sharp"></ion-icon>
                <h2>Scan Television </h2> -->
              </ion-card>
            </div>
          </div>
  
          <div class="row">
            <div class="col" col-6  (click)="goTo(5)">
              <ion-card class="cardgrid color-kulkas">
                <div class="img_right">
                  <img src="../../../../assets/images/baru/kulkasxxhdpi.png" alt="">
                </div>
                <div class="text_left">
                  Kulkas
                </div>
                <!-- <img class="grid" src="../../../../assets/images/home/kulkas/kulkas.png" alt=""> -->
                <!-- <ion-icon  class="icon-a" name="laptop-outline"></ion-icon>
                <h2>Scan Laptop</h2> -->
              </ion-card>
            </div>
            <div class="col" col-6 (click)="goTo(6)">
              <ion-card class="cardgrid color-cuci">
                <div class="img_right">
                  <img src="../../../../assets/images/baru/mesincucixxhdpi.png" alt="">
                </div>
                <div class="text_left">
                  Mesin
                </div>
                <br>
                <div class="text_left2">
                  Cuci
                </div>
                <!-- <img class="grid" src="../../../../assets/images/home/mesin_cuci/mesin_cuci.png" alt=""> -->
                <!-- <ion-icon  class="icon-a" name="game-controller-outline"></ion-icon>
                <h2>Scan PlayStation</h2> -->
              </ion-card>
            </div>
          </div>
        </ion-grid>
      </div>
      <div class="garis">
        <ion-label class="ion-text-wrap font"><img src="../../../../assets/icon/star.png" style="margin-right: 10px;" alt="">Barang lainnya akan segera hadir</ion-label>
      </div>

      <div class="center">
        <ion-label class="ion-text-wrap font">Bekerjasama dengan</ion-label>
      </div>
      <ion-grid style="margin-bottom: 20%;">
        <ion-row>
          <ion-col>
            <img src="../../../../assets/sponsor/samsung.png" style="margin-right: 10px;" height="35px" width="55px" alt="">
          </ion-col>
          <ion-col>
            <img src="../../../../assets/sponsor/sony.png" style="margin-right: 10px;" height="35px" width="55px" alt="">
          </ion-col>
          <ion-col>
            <img src="../../../../assets/sponsor/acer.png" style="margin-right: 10px;" height="35px" width="55px" alt="">
          </ion-col>
          <ion-col>
            <img src="../../../../assets/sponsor/lenovo.png" style="margin-right: 10px;" height="35px" width="55px" alt="">
          </ion-col>
          <ion-col>
            <img src="../../../../assets/sponsor/lg.png" style="margin-right: 10px;" height="35px" width="55px" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
    
</ion-content>
