ion-content{
    justify-content: center;
    --padding-top: 20px;
}

hr{
    border-top: solid #bbb;

}

ion-title{
    color: black
}

ion-card{
    border-radius: 15px !important;
    width: 90% !important;
    margin: 5% !important;
}