
<ion-content [fullscreen]="true" mode="md">

  <div class="icon" routerLink="/landing/type">
    <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
    <ion-icon class="ic_back" name="arrow-back-outline"></ion-icon>
  </div>
  
    <h1>Notifikasi</h1>

    <div class="ion-text-center" style="margin-top: 20%;" *ngIf = "notification == ''">
      <ion-icon name="notifications" style=" color: #045FC4; font-size: 70px;"></ion-icon>
      <h2 style="font-weight: bold; font-size: 16px;">Tidak Ada Notifikasi</h2>
      <p>Di sinilah Anda akan menemukan notifikasi dan penawaran baru yang menarik. Pastikan untuk memeriksa kembali.</p>
      <button routerLink="/landing/type">Mulai Tukar Tambah</button>
    </div>

    <div *ngIf = "notification != ''">
    <div *ngFor="let item of notification">
      <ion-list lines="none">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <img src="../../../../assets/icon/scan-barcode-activehdpi.png" alt="" >
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <h3 class="price">{{item.type}}</h3>
                </ion-row>
                <ion-row>
                  <p style="font-size: 12px; color: #747474;">{{item.description}}</p>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
    </div>
    
  </ion-content>
  