<ion-content>
  <div class="header">
    <div class="card-backgroud">
      <img src="../../../../assets/images/header/kulkas.png" alt="">
      <div class="img_kanan">
        <img src="../../../../assets/images/baru/form-kulkasxhdpi.png" alt="">
      </div>
      <div class="img_kiri" routerLink="/landing/type">
        <div class="icon">
          <ion-icon class="ic_back" name="arrow-back-outline"></ion-icon>
        </div>
      </div>
      <div class="title">
        Trade Kulkas
      </div>
      <div class="subtitle">
        Silahkan isi data dibawah ini
      </div>
    </div>

    <ion-card class="main-menu">
      <div class="content">
        <div class="itemBorder">
          <ion-select [interfaceOptions]="customPopoverOptions" placeholder="Pilih tempat melakukan Trade In" okText="Okay" cancelText="Dismiss" (ionChange)="this.lokasi_trade = $event.target.value">
            <ion-select-option *ngFor="let item of stores" value="{{item.id}}">{{item.name}}</ion-select-option>
          </ion-select>
        </div>
        <div class="t1" style="margin-top: 30px;">
          Pilih Merk
        </div> 

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="LG" class="kulkas-merk-select" (click)="selectMerk('LG')">
                <img src="../../../../assets/sponsor/lg_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">LG</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Sharp" class="kulkas-merk-select" (click)="selectMerk('Sharp')">
                <img src="../../../../assets/sponsor/sharp.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Sharp</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Sony" class="kulkas-merk-select" (click)="selectMerk('Sony')">
                <img src="../../../../assets/sponsor/sony_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Sony</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="Samsung" class="kulkas-merk-select" (click)="selectMerk('Samsung')">
                <img src="../../../../assets/sponsor/samsung_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Samsung</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Xiaomi" class="kulkas-merk-select" (click)="selectMerk('Xiaomi')">
                <img src="../../../../assets/sponsor/mi.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Xiaomi</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Panasonic" class="kulkas-merk-select" (click)="selectMerk('Panasonic')">
                <img src="../../../../assets/sponsor/panasonic.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Panasonic</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- <div id="hide" hidden="true">
          <ion-grid style="margin-top: 14px">
            <ion-row>
              <ion-col size-md="4">
                <ion-card id="razer" class="kulkas-merk-select" (click)="selectMerk('razer')">
                  <img style="margin-top: 8%; margin-bottom: 8%;" src="../../../../assets/sponsor/razer.png" alt="">
                  <br>
                  <ion-label style="margin-bottom: 15%;">Razer</ion-label>
                </ion-card>
              </ion-col>
              <ion-col size-md="4">
                <ion-card id="apple" class="kulkas-merk-select" (click)="selectMerk('apple')">
                  <img style="margin-top: 8%; margin-bottom: 8%;" src="../../../../assets/sponsor/apple.png" alt="">
                  <br>
                  <ion-label style="margin-bottom: 15%;">Apple</ion-label>
                </ion-card>
              </ion-col> 
              <ion-col size-md="4">
                <ion-card id="alienware" class="kulkas-merk-select" (click)="selectMerk('alienware')">
                  <img style="margin-top: 8%; margin-bottom: 8%;" src="../../../../assets/sponsor/alienware.png" alt="">
                  <br>
                  <ion-label style="margin-bottom: 15%;">Alienware</ion-label>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div> -->
        <div class="show" style="margin-top: 14px" (click)="showMore()" id="hides">
          <a>Show more brand</a> <ion-icon class="ic_drop" name="caret-down-outline"></ion-icon>
        </div>

        <div class="t2" style="margin-top: 14px">
          Model
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="6">
              <ion-card id="Inverter" class="kulkas-model-select" (click)="selectModel('Inverter')">
                <ion-label>Inverter</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="6">
              <ion-card id="Non Inverter" class="kulkas-model-select" (click)="selectModel('Non Inverter')">
                <ion-label>Non Inverter</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="t2" style="margin-top: 14px">
          tipe
        </div>

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="6">
              <ion-card id="1 Pintu" class="kulkas-tipe-select" (click)="selectTipe('1 Pintu')">
                <ion-label style="margin-bottom: 15%;">1 Pintu</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="6">
              <ion-card id="2 Pintu" class="kulkas-tipe-select" (click)="selectTipe('2 Pintu')">
                <ion-label style="margin-bottom: 15%;">2 Pintu</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="t2" style="margin-top: 14px">
          Kondisi Fisik
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="mulus" class="kulkas-fisik-select" (click)="selectFisik('mulus')">
                <ion-label>Mulus</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="lecet" class="kulkas-fisik-select" (click)="selectFisik('lecet')">
                <ion-label>Lecet</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="penyok" class="kulkas-fisik-select" (click)="selectFisik('penyok')">
                <ion-label>Penyok</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <hr>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Kondisi Kulkas Menyala</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiKulkas" (ionChange)="toggleKondisiKulkas()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Kondisi Rubber Kulkas Berfungsi</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiRubber" (ionChange)="toggleRubber()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Tutup Freezer Komplit</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiTutupFreezer" (ionChange)="toggleTutupFreezer()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Kelengkapan Tray Kulkas Komplit</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiTray" (ionChange)="toggleTray()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Freezer Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiFreezer" (ionChange)="toggleKondisiFreezer()"></ion-toggle>
        </ion-item>

        <div class="btn">
          <ion-button style="width: 100%;" shape="round" (click)="submit($event)">Submit</ion-button>
        </div>
        
      </div>
    </ion-card>
  </div>
    
</ion-content>