<ion-content>
  <div class="header">
    <div class="card-backgroud">
      <img src="../../../../assets/images/header/cuci.png" alt="">
      <div class="img_kanan">
        <img src="../../../../assets/images/baru/form-mesin-cucixhdpi.png" alt="">
      </div>
      <div class="img_kiri" routerLink="/landing/type">
        <div class="icon">
          <ion-icon class="ic_back" name="arrow-back-outline"></ion-icon>
        </div>
      </div>
      <div class="title">
        Trade Mesin Cuci
      </div>
      <div class="subtitle">
        Silahkan isi data dibawah ini
      </div>
    </div>

    <ion-card class="main-menu">
      <div class="content">
        <div class="itemBorder">
          <ion-select [interfaceOptions]="customPopoverOptions" placeholder="Pilih tempat melakukan Trade In" okText="Okay" cancelText="Dismiss" (ionChange)="this.lokasi_trade = $event.target.value">
            <ion-select-option *ngFor="let item of stores" value="{{item.id}}">{{item.name}}</ion-select-option>
          </ion-select>
        </div>
        <div class="t1" style="margin-top: 30px;">
          Pilih Merk
        </div>

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="LG" class="cuci-merk-select" (click)="selectMerk('LG')">
                <img src="../../../../assets/sponsor/lg_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">LG</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Sharp" class="cuci-merk-select" (click)="selectMerk('Sharp')">
                <img src="../../../../assets/sponsor/sharp.png" alt="">
                <ion-label style="margin-bottom: 15%;">Sharp</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Sony" class="cuci-merk-select" (click)="selectMerk('Sony')">
                <img src="../../../../assets/sponsor/sony_lg.png" alt="">
                <ion-label style="margin-bottom: 15%;">Sony</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="Samsung" class="cuci-merk-select" (click)="selectMerk('Samsung')">
                <img src="../../../../assets/sponsor/samsung_lg.png" alt="">
                <ion-label style="margin-bottom: 15%;">Samsung</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Xiaomi" class="cuci-merk-select" (click)="selectMerk('Xiaomi')">
                <img src="../../../../assets/sponsor/mi.png" alt="">
                <ion-label style="margin-bottom: 15%;">Xiaomi</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Panasonic" class="cuci-merk-select" (click)="selectMerk('Panasonic')">
                <img src="../../../../assets/sponsor/panasonic.png" alt="">
                <ion-label style="margin-bottom: 15%;">Panasonic</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="show" style="margin-top: 14px">
          <a>Show more brand</a> <ion-icon class="ic_drop" name="caret-down-outline"></ion-icon>
        </div>
        <!-- <ion-button class="btn2">Show more brand</ion-button> -->

        <div class="t2" style="margin-top: 14px">
          Tipe
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="6">
              <ion-card id="Front Loading" class="cuci-tipe-select" (click)="selectTipe('Front Loading')">
                <ion-label>Front Loading</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="6">
              <ion-card id="Upper Loading" class="cuci-tipe-select" (click)="selectTipe('Upper Loading')">
                <ion-label>Upper Loading</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- <div class="t2" style="margin-top: 14px">
          Model
        </div> -->

        <!-- <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="6">
              <ion-card id="one" class="cuci-model-select" (click)="selectModel('one')">
                <ion-label style="margin-bottom: 15%;">1 Pintu</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="6">
              <ion-card id="two" class="cuci-model-select" (click)="selectModel('two')">
                <ion-label style="margin-bottom: 15%;">2 Pintu</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid> -->

        <div class="t2" style="margin-top: 14px">
          Kondisi Fisik
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="Mulus" class="cuci-fisik-select" (click)="selectFisik('Mulus')">
                <ion-label>Mulus</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Lecet" class="cuci-fisik-select" (click)="selectFisik('Lecet')">
                <ion-label>Lecet</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Penyok" class="cuci-fisik-select" (click)="selectFisik('Penyok')">
                <ion-label>Penyok</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <hr>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Kondisi Mesin Cuci Menyala</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiMesinCuci" (ionChange)="toggleKondisiMesinCuci()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Rubber Kaki Mesin Cuci Lengkap</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiRubber" (ionChange)="toggleRubber()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Tombol Mesin Cuci Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiTombol" (ionChange)="toggleKondisiTombol()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Tutup pada Mesin Cuci Berfungsi</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiTutup" (ionChange)="toggleKondisiTutup()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Pembuangan Air Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiPembuangan" (ionChange)="togglePembuangan()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Pengering Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiPengering" (ionChange)="togglePengering()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Air Otomatis Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiAirOtomatis" (ionChange)="toggleAirOtomatis()"></ion-toggle>
        </ion-item>

        <ion-item class="toggle2" lines="none">
          <ion-label class="t2">Pemanas Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiPemanas" (ionChange)="togglePemanas()"></ion-toggle>
        </ion-item>

        <div class="btn">
          <ion-button style="width: 100%;" shape="round" (click)="submit($event)">Submit</ion-button>
        </div>
        
      </div>
    </ion-card>
  </div>
    
</ion-content>