  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="type">
        <!-- <div class="achome">
          <div class="home"></div>
        </div> -->
        <img src="../../../../assets/icon/home-activemdpi.png" alt="">
        <ion-label>Beranda</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="my-qr">
        <!-- <div class="acqr">
          <div class="qr"></div>
        </div> -->
        <img src="../../../../assets/icon/scan-barcode-activemdpi.png" alt="">
        <ion-label>QRku</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="setting">
        <!-- <div class="acsetting">
          <div class="setting"></div>
        </div> -->
        <img src="../../../../assets/icon/setting-activemdpi.png" alt="">
        <ion-label>Setelan</ion-label> 
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>