ion-slide {
  width: 80%;
  height: 20%;
  align-content: center;
}

.vl {
  border-left: 6px solid blue;
  height: 60px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

h2 {
  padding-left: 10px;
}

hr{
    border-top: solid #bbb;

}

ion-text {
  padding-top: 5%;
  margin-bottom: 10%;
}

ion-thumbnail
{
width:90px;
height:90px;
img
{
width:auto !important;
height:auto !important;
}
}

ion-img {
  width: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}
a {
  font-size: 15px;
  color: #3c3c3a;
}

h5 {
  color: black;
  font-weight: bold;
}


ion-card {
  border-radius: 15px !important;
}

ion-card-title {
  white-space: normal;
  padding-top: 5%;
  margin-left: 10%;
  color: #000080;
  font-weight: bold;
}

ion-card-content {
  white-space: normal;
  color: #808080;
}

