<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start" style="color: black;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: black;">Kebijakan Privasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img class="bg-image" style="position: relative;"age" src="../../../../assets/images/home/bg_home.png" alt=""> -->
  <div class="center"><img class="logo-image" src="./assets/images/zfix_logo.png"></div>

  <ion-text >
    <h1>Kebijakan Privasi</h1>

    <p class="privasi">MOHON UNTUK MEMBACA KEBIJAKAN PRIVASI INI DENGAN SEKSAMA DEMI MEMASTIKAN BAHWA ANDA MEMAHAMI BAGAIMANA ZFIX TRADE-IN MENGGUMPULKAN, MENYIMPAN, MENGGUNAKAN, MEMINDAHKAN, MENGUNGKAPKAN DAN MELINDUNGI INFORMASI PRIBADI YANG DIPEROLEH MELALUI APLIKASI KAMI.</p>
    
    <h2>1. Ketentuan Umum</h2>
    <p>Kebijakan Privasi ini adalah perjanjian antara pengguna (“Pengguna”) dan Zfix Trade-in (“Aplikasi) dari PT Zanna Infiniti Fixindo. Kami menghargai privasi data dan informasi pribadi selaku pengguna aplikasi Zfix Trade-in. Penggunaan Anda atas Aplikasi dan Layanan Kami tunduk pada Ketentuan Penggunaan dan Kebijakan Privasi ini dan mengindikasikan persetujuan Anda terhadap Ketentuan Penggunaan dan Kebijakan Privasi tersebut.</p>
    
    <h2>2. Definisi</h2>
    <p>"Aplikasi" merupakan aplikasi Zfix Trade-in dari PT Zanna Infiniti Fixindo yang tersedia di google play store, app store maupun store yang tersedia dalam sistem perangkat Anda.</p>
    <p>"Informasi Pribadi" merupakan data perseorangan/perusahaan tertentu yang melekat dan dapat diidentifikasi pada suatu individu/perusahaan dan yang dikumpulkan melalui Aplikasi, seperti nama, alamat, nomor identitas (apabila Anda adalah seorang individu), data dan dokumen identitas perusahaan (apabila Anda bukan seorang individu), nomor telepon, alamat surat elektronik (e-mail), nomor rekening bank, perizinan dan/atau sejenisnya, dan informasi lain yang mungkin dapat mengidentifikasi Anda sebagai pengguna Aplikasi.</p>
    <p>"Ketentuan Penggunaan" merupakan syarat dan ketentuan atau prosedur standar operasi atau ketentuan lainnya sehubungan dengan masing-masing Aplikasi yang dikembangkan oleh Zfix Trade-in, sebagaimana dapat diubah atau ditambah dari waktu ke waktu;</p>
    <p>"Layanan" merupakan hal-hal yang ditawarkan oleh Zfix Trade-in melalui Aplikasi kepada Anda, termasuk namun tidak terbatas pada pemrosesan dan penentuan terkait status tukar tambah yang disediakan dari waktu ke waktu melalui Aplikasi.</p>

    <h2>3. Pengumpulan Informasi Pelanggan</h2>
    <p>Zfix Trade-in mengumpulkan, menggunakan, mengungkapkan, dan/atau mengolah data pribadi Anda untuk proses registrasi yang anda lakukan guna menentukan status tukar tambah anda oleh Customer Care Zfix Trade-in. Zfix Trade-in mengumpulkan Informasi Pribadi tertentu dari Anda agar Aplikasi dapat menjalankan fungsinya termasuk namun tidak terbatas dengan tujuan untuk menghubungi Anda tentang akun Anda dalam Aplikasi dan Layanan Zfix Trade-in, memberikan Layanan kepada Anda, memberi Anda iklan dan pemasaran terkait Layanan Zfix Trade-in, menjawab pertanyaan-pertanyaan dan/atau permintaan-permintaan yang Anda ajukan kepada Zfix Trade-in, dan untuk mendeteksi, mencegah, mengurangi dan menyelidiki aktivitas curang atau ilegal.</p>

    <h2>4. Pemberian Informasi Pribadi</h2>
    <p>Informasi Pribadi dapat Anda berikan secara langsung (sebagai contoh, saat Anda mendaftar sebagai pengguna Aplikasi) maupun terkumpul ketika Anda menggunakan Aplikasi.</p>

    <h2>5. Penggunaan Informasi Pelanggan</h2>
    <p>Anda setuju bahwa Zfix Trade-in dapat memberikan Informasi Pribadi Anda kepada pihak-pihak ketiga baik perusahaan maupun perorangan dimana Zfix Trade-in bekerjasama untuk memfasilitasi atau memberikan bantuan operasional atau pengembangan Aplikasi. Zfix Trade-in tidak membagikan Informasi Pribadi Anda kepada pihak manapun yang berkepentingan selain serta pihak ketiga dengan tujuan penggunaan yang spesifik, tanpa persetujuan dari Anda. Namun demikian, Kami akan mengungkapkan Informasi Pribadi Anda sepanjang diwajibkan secara hukum, atau diperlukan untuk tunduk pada ketentuan peraturan perundang-undangan, institusi pemerintah, atau dalam hal terjadi sengketa, atau segala bentuk proses hukum antara Anda dan Zfix Trade-in, atau antara Anda dan pihak lain sehubungan dengan, atau terkait dengan Aplikasi dan Layanan, atau dalam keadaan darurat yang berkaitan dengan keamanan Anda.</p>

    <h2>6. Pemberian Informasi</h2>
    <p>Zfix Trade-in menggunakan Informasi Pribadi untuk tujuan verifikasi kepemilikan Anda atas suatu akun dalam Aplikasi kami, untuk berkomunikasi dengan Anda sehubungan dengan pemrosesan, penggunaan atau pengelolaan Layanan dan Aplikasi dan untuk memberikan Anda informasi mengenai Aplikasi dan Layanan. Kami juga dapat menggunakan Informasi Pribadi untuk mengirimkan pesan, pembaharuan yang bersifat umum atas Aplikasi dan Layanan, penawaran-penawaran khusus atau promosi-promosi. Zfix Trade-in menggunakan Informasi Pribadi secara keseluruhan untuk menganalisa pola penggunaan Anda atas Aplikasi. Anda dengan ini setuju bahwa Informasi Pribadi Anda akan digunakan oleh sistem pemrosesan data internal Zfix Trade-in untuk memastikan diberikannya Layanan yang terbaik dalam Aplikasi untuk Anda.</p>

    <h2>7. Perlindungan Data dan Informasi Pribadi</h2>
    <p>Perlindungan data dan Informasi Pribadi Anda adalah suatu kewajiban bagi Zfix Trade-in. Zfix Trade-in akan memberlakukan langkah-langkah untuk melindungi dan mengamankan data dan Informasi Pribadi Anda. Namun demikian, Zfix Trade-in tidak dapat sepenuhnya menjamin bahwa sistem Zfix Trade-in tidak akan diakses soleh virus, malware, gangguan atau kejadian luar biasa termasuk akses oleh pihak ketiga yang tidak berwenang. Anda harus menjaga keamanan dan kerahasiaan data yang berkaitan dengan akun Anda pada Aplikasi termasuk kata sandi dan data-data lainnya yang Anda berikan di dalam Aplikasi ini.</p>

    <h2>8. Perubahan Kebijakan Penggunaan</h2>
    <p>Zfix Trade-in dapat mengubah Kebijakan Privasi ini untuk sejalan dengan perkembangan kegiatan bisnis Zfix Trade-in atau dipersyaratkan oleh peraturan perundang-undangan dan instusi pemerintah terkait. Jika Zfix Trade-in mengubah Kebijakan Privasi ini, Zfix Trade-in akan memberitahu Anda melalui notifikasi pada Aplikasi 1 (satu) hari sebelum perubahan berlaku. Zfix Trade-in meminta Anda untuk meninjau Aplikasi secara reguler dan terus-menerus selama Anda menggunakan Aplikasi untuk mengetahui informasi terbaru tentang bagaimana ketentuan Kebijakan Privasi ini Zfix Trade-in diberlakukan.</p>

    <h2>9. Hukum yang Mengatur dan Yurisdiksi</h2>
    <p>Kebijakan Privasi ini diatur oleh dan ditafsirkan menurut hukum Negara Republik Indonesia. Setiap dan seluruh sengketa yang timbul dari Kebijakan Privasi ini akan diatur oleh yurisdiksi eksklusif dari Pengadilan Negeri Jakarta Utara.</p>

    <h2>10. Pengakuan dan Persetujuan</h2>
    <p>Dengan menggunakan Aplikasi, Anda mengakui bahwa Anda telah membaca dan memahami Kebijakan Privasi ini dan Ketentuan Penggunaan dan setuju dan sepakat terhadap penyimpanan, penggunaan, pemrosesan, pemberian dan pengalihan Informasi Pribadi Anda oleh Zfix Trade-in sebagaimana dinyatakan di dalam Kebijakan Privasi ini.</p>
    <p>Zfix Trade-in juga menyatakan bahwa Anda memiliki hak untuk memberikan seluruh informasi yang telah Anda berikan kepada Zfix Trade-in dan untuk memberikan hak kepada Zfix Trade-in untuk memproses dan menggunakan serta memberikan informasi guna mendukung dan melaksanakan fungsi Aplikasi dan membebaskan Zfix Trade-in dari segala tuntutan apabila di kemudian hari terdapat tuntutan ketidakabsahan hak Anda dalam memberikan informasi.</p>

    <h2>11. Hubungi Kami</h2>
    <p>Apabila Anda memiliki pertanyaan, masalah, saran ataupun keluhan mengenai Kebijakan Privasi ini, silahkan hubungi Customer Care kami melalui <a href="mailto:cs@zfix.id">cs@zfix.id.</a> atau 0877-0477-5575.</p>
  
  <br>
  <br>
  </ion-text>

</ion-content>
