<ion-content class="background" [fullscreen]="true">
  <ion-card>
    <!-- <img src="../../../assets/images/zfix_logo.png" alt="" class="zfix"> -->
    <ion-card-header>
       <ion-card-title>
         Log in
       </ion-card-title>
       <!-- <ion-card-subtitle>
         Aplikasi Trade In Terpecaya
       </ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Email"  name="email" type="email" [(ngModel)]="credential.email" pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" name="password" type="password" [(ngModel)]="credential.password" minlength="8" (keyup.enter)="hideKeyboard()" required></ion-input>
      </ion-item>
      <br>
      <div class="forgot">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
      
      <div class="botton-section" style="text-align: center;">
        <ion-button (click)="login() " routerLink="/login">Sign In</ion-button>
      </div>
      
      <div style="margin-top: 20px; text-align: center;">
        <p style="font-family: Plus Jakarta Sans;">Butuh akun baru? <a class="forgot" routerLink="/register">Register</a></p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>