ion-content.background{
  // --ion-background-color:linear-gradient(#0f4ed8,#0099ff,rgb(184, 202, 250));
  
  ion-card{
    margin-top: 20px;
    background: transparent;
    box-shadow: none;
    
    .zfix{
      height: 40px;
    //   filter: drop-shadow(-1px -1px 2px rgba(255,255,2550.5) )
    //   drop-shadow(5px 5px 5px rgba(0,0,0,0.2))
    //  ;
    }
    .botton-section{
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    ion-card-title{
      margin-top: 26px;
      font-family: Plus Jakarta Sans;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 36px;
      color: #000000; 
    }

    ion-card-subtitle{
      font-size:14px;
      color: #ffffff; 
    }
    ion-card-content{
      margin-top:10px;

      ion-item{
        --ion-item-background:transparent;
        --border--width:0;
        --inner-border-width:0;
        border: solid 1px #EBEBEB;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-top: 10px;
        box-shadow: none !important;

        ion-input{
          border: 1px;
          font-size: 14px;
          font-weight: 300;
          color: #445F6F;
        }  
      }

      .forgot{
        text-decoration: none;
        color:#045FC4;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
      }

      ion-button{
        display: flex;
        flex-direction: row;

        font-family: Plus Jakarta Sans;
        width: 210px;
        height: 38px;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-transform: none;
        
        --background: #045FC4;
        --border-radius:20px !important;
        color:#FFFFFF;
        
      }
                
      ion-button.btn_signup{
        height: 40px;
        width: 150px;
        font-size: 20px;
        font-family: Plus Jakarta Sans;
        border: 1px solid #fff;
        text-transform: none;
        font-weight: 300;
        --background:transparent;
        border-radius:20px !important;
        color:#ffffff;
        font-weight: bold;
        box-shadow: transparent;

        .button-sigup{
          margin-top:19px;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-shadow: none;
        }
      }  
    }
  }
  .bg-image {
    position: relative;
    bottom: -10%;

  }
  .bg-image img{
    width: 100%;
    height: auto;
  }
} 
  