<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
 
  <ion-card>
    <ion-card-header>
       <ion-card-title>
         Sign Up
       </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Name" name="name" type="text" [(ngModel)]="credential.name" pattern="^\w+( +\w+)*$"  required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Mobile Phone" name="contact" type="text" [(ngModel)]="credential.contact" pattern="^\w+( +\w+)*$"  required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Email" name="email" type="email" [(ngModel)]="credential.email" pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"  required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" name="password" type="password" [(ngModel)]="credential.password" minlength="8"  required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Confirm Password" name="confirm_password" type="password" [(ngModel)]="credential.confirm_password" minlength="8"  required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Address"  name="address" type="text" [(ngModel)]="credential.address" pattern="^\w+( +\w+)*$" required></ion-input>
      </ion-item>
      <input type="checkbox" id="option" style="margin-top: 20px;"/>
      <ion-label for="option"> <span class="font-family: Plus Jakarta Sans; pading-left: 5px;"> Saya setuju dengan Syarat dan Ketentuan</span> </ion-label><br>
      <div class="botton-section">
        <ion-button (click)="register()">Sign Up</ion-button>
      </div>
      <div style="margin-top: 20px; text-align: center;">
        <p style="font-family: Plus Jakarta Sans;">Suda punya akum? <a class="forgot" routerLink="/login">Login</a></p>
      </div>
    </ion-card-content>
  </ion-card>
 
</ion-content>
