<ion-content>
  <img src="./assets/images/2.0x/login_header.png">

  <div class="ion-text-center ion-text-uppercase ion-margin">
    <h1>Register</h1>
  </div>

  <div class="middle">
    <ion-card>
      <ion-card-content>
        <form>
          <ion-list lines="full" >
              
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" type="email" [(ngModel)]="credential.email" pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" (keyup.enter)="utilsService.hideKeyboard()" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input name="name" type="text" [(ngModel)]="credential.name" pattern="^\w+( +\w+)*$" (keyup.enter)="utilsService.hideKeyboard()" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">No. Telepon</ion-label>
              <ion-input name="contact" type="text" [(ngModel)]="credential.contact" pattern="^\w+( +\w+)*$" (keyup.enter)="utilsService.hideKeyboard()" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Alamat</ion-label>
              <ion-input name="address" type="text" [(ngModel)]="credential.address" pattern="^\w+( +\w+)*$" (keyup.enter)="utilsService.hideKeyboard()" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">No. KTP(NIK)</ion-label>
              <ion-input name="identity" type="text" [(ngModel)]="credential.identity" pattern="^\w+( +\w+)*$" (keyup.enter)="utilsService.hideKeyboard()" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Tanggal Lahir</ion-label>
              <ion-input name="birth_date" type="date" [(ngModel)]="credential.birth_date" pattern="^\w+( +\w+)*$" (keyup.enter)="utilsService.hideKeyboard()" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Gender</ion-label>
              <ion-select name="gender" [(ngModel)]="credential.gender">
                <ion-select-option value="Laki-laki">Laki-laki</ion-select-option>
                <ion-select-option value="Perempuan">Perempuan</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- <ion-item>
              <ion-list>
                  <ion-label>Gender</ion-label>
                  <ion-select  [(ngModel)]="credential.gender" name="gender" multiple="true">
                    <IonSelectOption value="bird">Bird</IonSelectOption>
                    <IonSelectOption value="cat">Cat</IonSelectOption>
                  </ion-select>
              </ion-list>
            </ion-item> -->

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input name="password" type="password" [(ngModel)]="credential.password" minlength="8" (keyup.enter)="utilsService.hideKeyboard()" required></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input name="confirm_password" type="password" [(ngModel)]="credential.confirm_password" minlength="8" (keyup.enter)="utilsService.hideKeyboard()" required></ion-input>
            </ion-item> 
  
          </ion-list>
  
          <div class="ion-padding">
            <ion-button expand="block" (click)="register()" class="ion-margin">Register</ion-button>
          </div>
        </form>
        <div class="ion-text-center ion-margin">
          <p>Already have an Account? <a routerLink="/login">Login</a></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
