ion-header.header{
  --ion-background-color: transparent;
  border: none;
}

ion-content.background{
  
  ion-card{
    background: transparent;
    box-shadow: none;

    .zfix{
      height: 40px;
      // width:100px;
      // filter: drop-shadow(-1px -1px 3px rgba(255,255,2550.5) )
      //         drop-shadow(5px 5px 5px rgba(0,0,0,0.2))
      //        ;
    }

    .botton-section{
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    ion-card-title{
      font-family: Plus Jakarta Sans Extra;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 36px;
      color: #000000; 
    }

    .forgot{
      text-decoration: none;
      color:#045FC4;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
    }

    ion-card-subtitle{
      font-size:14px;
      color: #ffffff; 
    }
    ion-card-content{
      margin-top:10px;

      ion-item{
        --ion-item-background:transparent;
        --border--width:0;
        --inner-border-width:0;
        border: solid 1px #EBEBEB;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-top: 10px;

        ion-input{
          border: 1px;
          font-size: 14px;
          font-weight: 300;
          color: #445F6F;
        }  
      }

      ion-button{
        display: flex;
        flex-direction: row;

        font-family: Plus Jakarta Sans;
        width: 210px;
        height: 38px;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-transform: none;
        
        --background: #045FC4;
        --border-radius:20px !important;
        color:#FFFFFF;
      }
    }
  }
  .shape{
    position: relative;
    bottom: -10%;
  }
  img{
    width: 100%;
    height: auto;
  }   
}

ion-checkbox{
  background: #FFFFFF;
   border-width: 1px !important;
   border-style: solid !important;
   border-radius: 4px;
   border-color : black !important;
   height : 13px;
   width: 13px;
   --checkmark-color:black;
   --background-checked: #FFFFFF;
   --border-color: #FFFFFF;
   --border-color-checked :#FFFFFF;
 }