ion-img {
    width: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  
  p{
      margin-left: 10px;
      font-weight: bold;
      color: black;
  }
  
  img{
    height: auto;
    width: auto;
  }