<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">EDIT PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img src="./assets/images/on_board_repair.png">
  </ion-avatar>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="user.data?.user.name" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">No. Telepon</ion-label>
      <ion-input name="contact"  [(ngModel)]="user.data?.customer.contact" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Alamat</ion-label>
      <ion-input name="address"  [(ngModel)]="user.data?.customer.address" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">No. KTP(NIK)</ion-label>
      <ion-input name="identity"  [(ngModel)]="user.data?.customer.identity" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tanggal Lahir</ion-label>
      <ion-input name="birth_date" type="date" [(ngModel)]="user.data?.customer.birth_date" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-select name="gender" [(ngModel)]="user.data?.customer.gender" (keyup.enter)="utilsService.hideKeyboard()">
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item line="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email"  [(ngModel)]="user.data?.user.email" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
    </ion-item>
  </ion-card>

  <div class="ion-padding">
    <ion-button expand="block" (click)="submit()" class="ion-margin">SUBMIT</ion-button>
  </div>
</ion-content>
