ion-content{
    justify-content: center;
    --padding-top: 40px;
}

img{
    height: auto;
    width: auto;
}

ion-avatar{
    margin: auto;
}

ion-item{
    margin-top: 15px;
}

ion-card{
    border-radius: 15px !important;
    flex-direction: column;
    // padding-left: 20px;
    // padding-top: 20px;
    // padding-right: 20px;
    display: flex;
    width: 90% !important;
    margin: 5% !important;
}