ion-content{
  justify-content: center;
  --padding-top: 20px;
}

.vl {
    border-left: 6px solid blue;
    height: 60px;
  }

  h2 {
    padding-left: 10px;
  }
  
  p{
      padding-left: 10px;
      font-size: 13px;
  }