<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vl" style="font-family: 'Arial' !important; margin-left: 10px;">
    <h2>Punya Pertanyaan Seputar ZFix?</h2>
  </div>
  <ion-text>
  <p>Berikut merupakan pertanyaan yang paling sering diajukan seputar ZFix dan produknya</p>
  </ion-text>

  
</ion-content>
