<ion-content>
  <ion-item>
    <ion-label class="title">Estimated Price</ion-label>
    <ion-icon name="close" (click)="dismissModal()"></ion-icon>
  </ion-item>
  <div class="desk">
    <ion-card class="cardgrid">
      <div class="img_kanan">
        <img src="../../../../assets/images/baru/coin-bgxhdpi.png" alt="">
      </div>
      <div style="margin-top: 10px; margin-left: 10px;">
        <ion-label class="t1">IDR {{formatPrice}}</ion-label>
        <p class="t2" style="margin-right: 10px;">Harga akan berubah sesuai kondisi unit yang sebenarnya setelah dilakukan pengecekkan oleh tim kami</p>
      </div>
    </ion-card>
    <div class="btn">
      <ion-button style="width: 100%;" shape="round" (click)="submit()">Setuju dan Submit</ion-button> 
    </div>
  </div>
</ion-content>
