<ion-content mode="md" [fullscreen]="true">
  <ion-item lines="none" class="current-user">
    <ion-avatar slot="start">
      <img src="./assets/images/contact_mascot.png" />
    </ion-avatar>
    <ion-label class="ion-text-nowrap">
      <p *ngIf="user != {}">Halo, {{ user.data?.user.name }}</p>
    </ion-label>
  </ion-item>

  <ion-slides pager="true">
    <ion-slide>
      <img src="./assets/images/login_header.png" />
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-item (click)="goTo(1)">
      <ion-img src="./assets/images/cta_activation.png"></ion-img>
      <ion-label class="ion-text-nowrap">
        <ion-card-title> AKTIVASIKAN MEMBERSHIP ANDA </ion-card-title>
        <ion-card-content>
          Satu langkah lagi untuk menikmati berbagai keuntungan Membership ZFix
        </ion-card-content>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)="goTo(2)">
      <ion-img src="./assets/images/cta_activation.png"></ion-img>
      <ion-label class="ion-text-nowrap">
        <ion-card-title> PENGAJUAN PERBAIKAN </ion-card-title>
        <ion-card-content>
          Silahkan ajukan permintaan perbaikan jika gadget Anda mengalami
          kendala
        </ion-card-content>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- <ion-card>
    <ion-item (click)="goTo(3)">
      <ion-img src="./assets/images/cta_buy_plan.png"></ion-img>
      <ion-label class="ion-text-nowrap">
        <ion-card-title> LINDUNGI GADGET TERBARU ANDA </ion-card-title>
        <ion-card-content>
          Beli Membership ZFix secara langsung di berbagai partner resmi kami
        </ion-card-content>
      </ion-label>
    </ion-item>
  </ion-card> -->

</ion-content>
