ion-slide {
  width: 80%;
  height: 20%;
  align-content: center;
}

ion-text {
  padding-top: 5%;
  margin-bottom: 10%;
}

img{
  height: 90%; 
  width: 90%;
}

ion-img {
  width: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

ion-card {
  border-radius: 10px !important;
}

ion-card-title {
  white-space: normal;
  padding-top: 5%;
  margin-left: 10%;
  color: #000080;
  font-weight: bold;
}

ion-card-content {
  white-space: normal;
  margin-left: 4%;
  color: #808080;
}