<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="toolbar-color">
    <ion-title style="color: white;">Membership Claim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="middle-page">
    <ion-card>
      <ion-card-header>
        Pendaftaran pengajuan perbaikan sudah diterima dan sedang diproses. Mohon tunggu konfirmasinya. Terima Kasih
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" routerLink="/landing" class="ion-margin">Back to Home</ion-button>
      </ion-card-content>  
    </ion-card>
  </div>
</ion-content>
