
  
  ion-label p{
      margin-left: 10px;
      font-weight: bold;
  }


  .img-btn {
    max-width: 80px;
  }

  ion-item {
    padding-right: 20px !important;
}

 ion-text {
   padding-top: 20px;
   display: block;
 }

 p span {
  display: block;
}