<!-- <ion-header>
  <ion-toolbar>
    <ion-title>index</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-item lines="none">
   <ion-text>
     <h2>Settings</h2>
   </ion-text>
  </ion-item>
  
  <ion-item lines="none" class="current-user" color="transparent">
    <ion-avatar>
      <img class="avatars" src="./assets/images/z_logo.png">
    </ion-avatar>
    <ion-label class="ion-text-nowrap">
      <p *ngIf="user != {}"><span style="font-size: 18px;">{{ user.data?.user.name }}</span><span style="font-size: 11px;" routerLink="../../profile">edit profile<img class="avatars" src="./assets/images/arrow-circle-right.png"></span></p>

    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-text>
      <p style="font-size: 12px;">General</p>
    </ion-text>
   </ion-item>

   <ion-item routerLink="../../history">
    <ion-img src="./assets/images/transaction-minus.png" class="img-btn"></ion-img>
    <ion-label class="ion-text-nowrap">
      <p>Daftar Transaksi</p>
    </ion-label>
  </ion-item>

  <ion-item routerLink="../../outlet">
    <ion-img src="./assets/images/share.png" class="img-btn"></ion-img>
    <ion-label class="ion-text-nowrap">
      <p>Service Center Zfix</p>
    </ion-label>
  </ion-item> 
  
  <ion-item routerLink="../../call-us">
    <ion-img src="./assets/images/headphone.png" class="img-btn"></ion-img>
    <ion-label class="ion-text-nowrap">
      <p>Hubungi Kami</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-text>
      <p style="font-size: 12px;">Other</p>
    </ion-text>
   </ion-item>

   <ion-item routerLink="../../privacy-policy">
    <ion-img src="./assets/images/transaction-minus.png" class="img-btn"></ion-img>
    <ion-label class="ion-text-nowrap">
      <p>Kebijakan Privasi</p>
    </ion-label>
  </ion-item>

  <ion-item routerLink="../../terms">
    <ion-img src="./assets/images/share.png" class="img-btn"></ion-img> 
    <ion-label class="ion-text-nowrap">
      <p>Syarat & Ketentuan</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" (click)="logout()">
    <ion-text>
      <p style="font-size: 12px;">Log out <img class="avatars" src="./assets/images/arrow-circle-right.png">
      </p>
    </ion-text>
   </ion-item>

   <ion-item lines="none">
    <ion-text>
      <p style="font-size: 12px;">Version: {{VersionNumber}}</p>
    </ion-text>
   </ion-item>
  

</ion-content>
