<!-- <ion-header>
  <ion-toolbar>
    <ion-title>index</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-item lines="none">
   <ion-text>
     <div class="t1">
      Settings
     </div>
   </ion-text>
  </ion-item>
  
  <ion-item lines="none" class="current-user" color="transparent">
    <ion-avatar>
      <img class="avatars" src="./assets/images/z_logo.png">
    </ion-avatar>
    <ion-label class="text">
      <p *ngIf="user != {}">
        <span style="font-size: 18px;">{{ user.data?.user.name }}</span>
        <span style="font-size: 11px;" routerLink="../../profile">edit profile<img class="avatars" style="margin-left: 2%;" src="./assets/icon/arrow-circle-rightmdpi.png"></span></p>

    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-text>
      <p style="font-size: 12px;">General</p>
    </ion-text>
  </ion-item>

  <ion-item routerLink="../../history">
    <ion-img src="./assets/icon/transaction-minusmdpi-1.png" class="img-btn"></ion-img>
    <ion-label class="text">
      Daftar Transaksi
    </ion-label>
  </ion-item>

  <ion-item routerLink="../../outlet">
    <ion-img src="./assets/icon/sharemdpi-1.png" class="img-btn"></ion-img>
    <ion-label class="text">
      Lokasi Tukar Tambah
    </ion-label>
  </ion-item> 
  
  <ion-item routerLink="../../call-us">
    <ion-img src="./assets/icon/headphonemdpi.png" class="img-btn"></ion-img>
    <ion-label class="text">
      Hubungi Kami
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-text>
      <p style="font-size: 12px;">Other
    </ion-text>
  </ion-item>

  <ion-item routerLink="../../privacy-policy">
    <ion-img src="./assets/icon/transaction-minusmdpi-1.png" class="img-btn"></ion-img>
    <ion-label class="text">
      Kebijakan Privasi
    </ion-label>
  </ion-item>

  <ion-item routerLink="../../terms">
    <ion-img src="./assets/icon/sharemdpi-1.png" class="img-btn"></ion-img> 
    <ion-label class="text">
      Syarat & Ketentuan
    </ion-label>
  </ion-item>

  <ion-item lines="none" (click)="logout()">
    <ion-text>
      <p style="font-size: 12px;">Log out <img class="avatars" src="./assets/icon/arrow-circle-rightmdpi.png">
      </p>
    </ion-text>
  </ion-item>

  <ion-item lines="none">
    <ion-text>
      <p style="font-size: 12px;">Version: {{VersionNumber}}</p>
    </ion-text>
  </ion-item>
  

</ion-content>
