<ion-content>
  <div class="header">
    <div class="card-backgroud">
      <img src="../../../../assets/images/header/tv.png" alt="">
      <div class="img_kanan">
        <img src="../../../../assets/images/baru/form-tvxhdpi.png" alt="">
      </div>
      <div class="img_kiri" routerLink="/landing/type">
        <div class="icon">
          <ion-icon class="ic_back" name="arrow-back-outline"></ion-icon>
        </div>
      </div>
      <div class="title">
        Trade TV
      </div>
      <div class="subtitle">
        Silahkan isi data dibawah ini
      </div>
    </div>

    <ion-card class="main-menu">
      <div class="content">
        <div class="itemBorder">
          <ion-select [interfaceOptions]="customPopoverOptions" placeholder="Pilih tempat melakukan Trade In" okText="Okay" cancelText="Dismiss" (ionChange)="this.lokasi_trade = $event.target.value">
            <ion-select-option *ngFor="let item of stores" value="{{item.id}}">{{item.name}}</ion-select-option>
          </ion-select>
        </div>
        <div class="t1" style="margin-top: 30px;">
          Pilih Merk
        </div>

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="LG" class="tv-merk-select" (click)="selectMerk('LG')">
                <img src="../../../../assets/sponsor/lg_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">LG</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Sharp" class="tv-merk-select" (click)="selectMerk('Sharp')">
                <img src="../../../../assets/sponsor/sharp.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Sharp</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4" offset-md="3">
              <ion-card id="Sony" class="tv-merk-select" (click)="selectMerk('Sony')">
                <img src="../../../../assets/sponsor/sony_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Sony</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="4">
              <ion-card id="Samsung" class="tv-merk-select" (click)="selectMerk('Samsung')">
                <img src="../../../../assets/sponsor/samsung_lg.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Samsung</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card id="Xiaomi" class="tv-merk-select" (click)="selectMerk('Xiaomi')">
                <img src="../../../../assets/sponsor/mi.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Xiaomi</ion-label> 
              </ion-card>
            </ion-col>
            <ion-col size-md="4" offset-md="3">
              <ion-card id="Panasonic" class="tv-merk-select" (click)="selectMerk('Panasonic')">
                <img src="../../../../assets/sponsor/panasonic.png" alt="">
                <br>
                <ion-label style="margin-bottom: 15%;">Panasonic</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

         <div id="hide" hidden="true">
          <!-- <ion-grid style="margin-top: 14px">
            <ion-row>
              <ion-col size-md="4">
                <ion-card id="razer" class="tv-merk-select" (click)="selectMerk('razer')">
                  <img style="margin-top: 8%; margin-bottom: 8%;" src="../../../../assets/sponsor/razer.png" alt="">
                  <br>
                  <ion-label style="margin-bottom: 15%;">Razer</ion-label>
                </ion-card>
              </ion-col>
              <ion-col size-md="4">
                <ion-card id="apple" class="tv-merk-select" (click)="selectMerk('apple')">
                  <img style="margin-top: 8%; margin-bottom: 8%;" src="../../../../assets/sponsor/apple.png" alt="">
                  <br>
                  <ion-label style="margin-bottom: 15%;">Apple</ion-label>
                </ion-card>
              </ion-col> 
              <ion-col size-md="4">
                <ion-card id="alienware" class="tv-merk-select" (click)="selectMerk('alienware')">
                  <img style="margin-top: 8%; margin-bottom: 8%;" src="../../../../assets/sponsor/alienware.png" alt="">
                  <br>
                  <ion-label style="margin-bottom: 15%;">Alienware</ion-label>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid> -->
        </div>
        
        <div class="show" style="margin-top: 14px" (click)="showMore()" id="hides">
          <a>Show more brand</a> <ion-icon class="ic_drop" name="caret-down-outline"></ion-icon>
        </div> 
        

        <div class="t2" style="margin-top: 14px">
          Jenis TV
        </div>
        
        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="6">
              <ion-card id="LED" class="tv-jenis-select" (click)="selectJenis('LED')">
                <ion-label>LED</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="6">
              <ion-card id="Smart TV" class="tv-jenis-select" (click)="selectJenis('Smart TV')">
                <ion-label>Smart TV</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="t2" style="margin-top: 14px">
          Ukuran
        </div>

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="3">
              <ion-card id="32" class="tv-ukuran-select" (click)="selectUkuran('32')">
                <ion-label style="margin-bottom: 15%;">32"</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card id="40" class="tv-ukuran-select" (click)="selectUkuran('40')">
                <ion-label style="margin-bottom: 15%;">40"</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3" offset-md="3">
              <ion-card id="42" class="tv-ukuran-select" (click)="selectUkuran('42')">
                <ion-label style="margin-bottom: 15%;">42"</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card id="55" class="tv-ukuran-select" (click)="selectUkuran('55')">
                <ion-label style="margin-bottom: 15%;">55"</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="t1" style="margin-top: 25px;">
          Kondisi Layar TV
        </div>

        <ion-radio-group (ionChange)="radioSelectLayar($event)" style="margin-top: 14px">
          <ion-item class="radio head" lines="none">
            <ion-label class="t2">Normal</ion-label>
            <ion-radio slot="end" color="primary" value="Normal"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">Layar Bergaris</ion-label>
            <ion-radio slot="end" color="primary" value="Layar Bergaris"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">Whitespot/Titik Hitam</ion-label>
            <ion-radio slot="end" color="primary" value="Whitespot/Titik Hitam"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">LCD Pecah</ion-label>
            <ion-radio slot="end" color="primary" value="LCD Pecah"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <hr>

        <ion-item class="toggle" lines="none">
          <ion-label class="t2">Kondisi TV Menyala</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiTV" (ionChange)="toggleKondisiTV()"></ion-toggle>
        </ion-item>

        <!-- outer screen -->
        <ion-item class="toggle" lines="none">
          <ion-label class="t2">Layar Luar Tidak Tergores</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiLayarGores" (ionChange)="toggleOuterScreen()"></ion-toggle>
        </ion-item>

        <!-- inner screen -->
        <ion-item class="toggle" lines="none">
          <ion-label class="t2">Layar Berfungsi Normal</ion-label>
          <ion-toggle mode="ios" [(ngModel)]="kondisiNormal" (ionChange)="toggleInnerScreen()"></ion-toggle>
        </ion-item>
        <hr>

        <div class="t1" style="margin-top: 25px;">
          Kondisi Body TV
        </div>

        <ion-radio-group style="margin-top: 14px" (ionChange)="radioSelectBody($event)">
          <ion-item class="radio head" lines="none">
            <ion-label class="t2">Tidak Bergores / Penyok</ion-label>
            <ion-radio slot="end" color="primary" value="Tidak Bergores / Penyok"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">Beberapa Goresan / Penyok</ion-label>
            <ion-radio slot="end" color="primary" value="Beberaoa Goresan / Penyok"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">Banyak Goresan / Penyok</ion-label>
            <ion-radio slot="end" color="primary" value="Banyak Goresan / Penyok"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">LCD Pecah / Dead Pixel</ion-label>
            <ion-radio slot="end" color="primary" value="LCD Pecah / Dead Pixel"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <hr>

        <div class="t2" style="margin-top: 14px">
          Suara Televisi
        </div>

        <ion-grid style="margin-top: 14px">
          <ion-row>
            <ion-col size-md="3">
              <ion-card id="normal" class="tv-suara-select" (click)="selectSuara('normal')">
                <ion-label style="margin-bottom: 15%;">Normal</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card id="sember" class="tv-suara-select" (click)="selectSuara('sember')">
                <ion-label style="margin-bottom: 15%;">Sember</ion-label>
              </ion-card>
            </ion-col>
            <ion-col size-md="3" offset-md="3">
              <ion-card id="mati" class="tv-suara-select" (click)="selectSuara('mati')">
                <ion-label style="margin-bottom: 15%;">Mati</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <hr>

        <div class="t1" style="margin-top: 25px;">
          Kelengkapan
        </div>
        
        <ion-radio-group style="margin-top: 14px" (ionChange)="radioSelectKelengkapan($event)">
          <ion-item class="radio head" lines="none">
            <ion-label class="t2">Fullset (Remote, Kabel Power)</ion-label>
            <ion-radio slot="end" color="primary" value="Fullset (Remote, Kabel Power)"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">Unit + Remote + Kabel Power</ion-label>
            <ion-radio slot="end" color="primary" value="Unit + Remote + Kabel Power"></ion-radio>
          </ion-item>
          
          <ion-item class="radio" lines="none">
            <ion-label class="t2">Unit Only + Kabel Power</ion-label>
            <ion-radio slot="end" color="primary" value="Unit Only + Kabel Power"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <div class="btn">
          <ion-button style="width: 100%;" shape="round" (click)="submit($event)">Submit</ion-button>
        </div>

      </div>
    </ion-card>
  </div>
    
</ion-content>
