<ion-content>
  <ion-item>
    <ion-label class="title">FAQ</ion-label>
    <ion-icon name="close" (click)="dismissModal()"></ion-icon>
  </ion-item>
  <div class="desk">
    <ion-label class="t1">Mengapa harga yang didapat berbeda?</ion-label>
    <p class="t2">Harga akan berubah sesuai kondisi unit yang sebenarnya setelah dilakukan pengecekkan oleh tim kami</p>
    <br>
    <ion-label class="t1">Mengapa kode saya tidak dapat dipakai?</ion-label>
    <p class="t2">QR Code ini hanya bisa digunakan di lokasi toko yang telah dipilih oleh kamu</p>
  </div>
</ion-content>