ion-icon {
    background-color: black;
    color: white;
    border-radius: 90px;
}

.widht{
    width: 100px;
    height: 20px;
}

.right{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2%;
    left: 89%;
}

.img{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

.icon{
    width: 8%;
    height: 5%;
}

.desk{
    padding: 5%;
}

.left{
    text-align: left;
}

.alart{
    width: 20px;
    height: 20px;
    padding: 3%;
    background-color: rgba(237, 187, 87, 1);
}

.check{
    margin-left: 0;
}

ion-item::part(native){
    --padding-start: 0 !important; 
    --inner-padding-end: 0 !important;
}

ion-checkbox{
    margin-inline-end: 10px !important;
    --size: 19px !important;
}

.t1 {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: black;
}

.t2 {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.btn{
    width: 100%;
    color: white;
    font-family: Plus Jakarta Sans;
    border-radius: 100%;
}
