<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Membership Activation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="middle-page">
    <ion-card>
      <ion-card-header>
        <ion-card-title> <h3>Aktivasikan Membership ZFix Anda</h3> </ion-card-title>

        <ion-card-subtitle>
          Masukkan kode aktivasi yang tertera pada kemasan ZFix dan gadget IMEI
          terdaftar pada saat pembelian
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-label position="floating">Kode Aktivasi ZFix</ion-label>
          <ion-input [(ngModel)]="code" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">IMEI</ion-label>
          <ion-input type="number" [(ngModel)]="imei" [readonly]="!imeiEditable" (keyup.enter)="utilsService.hideKeyboard()" ></ion-input>
        </ion-item>
        
          <label for="lokasi_beli_voucher" style="color: black;">Lokasi Beli Membership</label><br>
          <input id="lokasi_beli_voucher"  class="w3-input" type="text" [(ngModel)]="lokasi_beli_voucher" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false' />

          <!-- <ion-input type="text" (ionInput)="searchStores($event)" [(ngModel)]="searchStore" (keyup.enter)="utilsService.hideKeyboard()"></ion-input> -->

      <!-- <ion-list *ngIf="stores.data?.store.length > 0;">
        <ion-radio-group [(ngModel)]="lokasi_beli_voucher">
          <ion-item *ngFor="let store of searchedStores">
            <ion-label>{{ store.name }}</ion-label>
            <ion-radio [value]="store.name" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list> -->
      
        <!-- <ion-list *ngIf="stores.data?.store.length > 0;">
        <ion-radio-group allow-empty-selection="true" [(ngModel)]="lokasi_beli_voucher">
        <ion-item *ngFor="let store of searchedStores">
          <ion-label> {{ store.name }} </ion-label>
          <ion-radio slot="start" [value]="store.name"></ion-radio>
        </ion-item>
      </ion-radio-group>
      </ion-list> -->

      <div class="ion-padding">
        <ion-button expand="block" (click)="submit()" class="ion-margin">AKTIVASI</ion-button>
        <!-- <ion-button expand="block"  class="ion-margin">BELI MEMBERSHIP ZFIX
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button> -->
      </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
