ion-icon {
    background-color: black;
    color: white;
    border-radius: 90px;
}

.desk{
    padding: 5%;
}

.title{
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: black;
    text-align: left;
}

.t1 {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: black;
    text-align: left;
}

.t2 {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: black;
    text-align: center;
}