<ion-content>
  <div>
    <h3>Preview <ion-icon name="close" (click)="dismissModal()"></ion-icon></h3>
  </div>
  <div class="ion-text-center" style="margin-bottom: 0 !important; margin-top: 10px;">
    <ngx-qrcode 
    [width]=240
    [margin]="0"
    value = "{{id}}">
    </ngx-qrcode>
    <p>{{voucher_key}}</p>
  </div>

  <div class="ion-text-center">
    <p style="font-size: 12px;">QR Code ini hanya bisa digunakan di lokasi toko yang telah dipilih diawal, harga diatas adalah harga final setelah pengecekan.</p>
  </div>
</ion-content>
