h3 { 
    margin: 10px !important;
    font-size: 14px;
}

p {
 margin-left: 10px;
 font-size: 12px;
}

ion-icon {
    margin-left: 80%;
    background-color: black;
    color: white;
    border-radius: 90px;
}

// .qr {
//     position: absolute;
//     width: 240px;
//     height: 240px;
//     margin-left: 48px;
//     margin-top: 68px;
// }