<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start" style="color: black;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: black;">Daftar Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

<div *ngFor="let item of trLaptop">
  <ion-card *ngIf = "item.jenis_layanan == 2">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Barang</ion-card-subtitle>
            <ion-card-title>Laptop {{item.brand}}</ion-card-title>
          </ion-col>
          <ion-col style="padding-right: 50px;">
            <p class="status">status</p>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Tipe</ion-card-subtitle>
            <ion-card-title>Ram : {{item.memory}} GB</ion-card-title>
            <ion-card-title>Storage : {{item.storages}} GB</ion-card-title>

          </ion-col>
          <ion-col>
            <ion-card-subtitle>price</ion-card-subtitle>
            <ion-card-title>Rp.{{item.price | number}}</ion-card-title>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</div>

<div *ngFor="let item of trTV">
  <ion-card *ngIf = "item.jenis_layanan == 3">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Barang</ion-card-subtitle>
            <ion-card-title>TV {{item.brand}}</ion-card-title>
          </ion-col>
          <ion-col style="padding-right: 50px;">
            <p class="status">status</p>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Tipe</ion-card-subtitle>
            <ion-card-title>{{item.jenis_tv}}, {{item.inch}}</ion-card-title>

          </ion-col>
          <ion-col>
            <ion-card-subtitle>price</ion-card-subtitle>
            <ion-card-title>Rp.{{item.price | number}}</ion-card-title>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</div>

<div *ngFor="let item of trPS">
  <ion-card *ngIf = "item.jenis_layanan == 4">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Barang</ion-card-subtitle>
            <ion-card-title>{{item.jenis_ps}}</ion-card-title>
          </ion-col>
          <ion-col style="padding-right: 50px;">
            <p class="status">status</p>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Tipe</ion-card-subtitle>
            <ion-card-title>{{item.type}}, {{item.storages}} GB</ion-card-title>

          </ion-col>
          <ion-col>
            <ion-card-subtitle>price</ion-card-subtitle>
            <ion-card-title>Rp.{{item.price | number}}</ion-card-title>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</div>

<div *ngFor="let item of trKulkas">
  <ion-card *ngIf = "item.jenis_layanan == 5">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Barang</ion-card-subtitle>
            <ion-card-title>Kulkas {{item.brand}}</ion-card-title>
          </ion-col>
          <ion-col style="padding-right: 50px;">
            <p class="status">status</p>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Tipe</ion-card-subtitle>
            <ion-card-title>{{item.model}}, {{item.type}}</ion-card-title>

          </ion-col>
          <ion-col>
            <ion-card-subtitle>price</ion-card-subtitle>
            <ion-card-title>Rp.{{item.price | number}}</ion-card-title>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</div>

<div *ngFor="let item of trMesinCuci">
  <ion-card *ngIf = "item.jenis_layanan == 6">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Barang</ion-card-subtitle>
            <ion-card-title>TV {{item.brand}}</ion-card-title>
          </ion-col>
          <ion-col style="padding-right: 50px;"> 
            <p class="status">status</p>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Tipe</ion-card-subtitle>
            <ion-card-title>{{item.type}}</ion-card-title>

          </ion-col>
          <ion-col>
            <ion-card-subtitle>price</ion-card-subtitle>
            <ion-card-title>Rp.{{item.price | number}}</ion-card-title>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>

  
    