<ion-content>
  <div class="widht">
    <div class="right">
      <ion-icon class="icon" name="close" (click)="dismissModal()"></ion-icon>
    </div>
  </div>
  <div class="desk">
    <div class="center">
      <ion-icon class="alart" name="alert"></ion-icon>
      <br>
      <ion-label class="t1">Unit tidak diterima</ion-label>
      <br>
      <p class="t2">Kamu tidak bisa melanjutkan proses ini karenakan kondisi unit dalam keadaan mati</p>
      <div class="btn">
        <ion-button style="width: 100%; height: 45px;" shape="round" (click)="dismissModal()">Mengerti</ion-button>
      </div>
    </div>
  </div>
</ion-content>